div#add-to-cart-wrapper.card-add.qty-box-visible{
    width: 100%;
    .form-field.form-field--increments{
        position: relative ;
        top: 0;
    }
    .form-action{
        margin-top: 10px !important;
    }

}