.main.alexa {
    display: none;
}
.alexa {
    .breadcrumbs {
        display: none !important;
    }
    .page-heading {
        display: none !important;
    }
    [data-content-region="page_builder_content_editor_area_top"] {
        display: none !important;
    }
    .alexa-selcet,
    .alexa-content {
        max-width: 1472px !important;
        margin: 0 auto;
        padding: 0 36px 30px;
    }
    .alexa-content {
        h3 {
            font-size: 48px;
            margin-bottom: 44px;
            font-weight: 700;
            color: #0056a8;
            line-height: 1.2;
            font-family: Larsseit;

            @media (max-width: 767px) {
                font-size: 36px;
            }
        }
        p {
            color: #5b5b5e;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 1.5rem;
            font-family: Larsseit;
            font-weight: 400;
            color: #323232;
            text-rendering: optimizeLegibility;
            a {
                color: #0056a8;
                word-break: break-all;
            }
        }
        ul {
            padding: 0;
            background: #fff;
            color: #363636;
            list-style-type: disc;
            margin-left: 1.25rem;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 1.5rem;
            font-family: Larsseit;
            font-weight: 400;
            li {
                line-height: 1.6;
                margin-bottom: 15px;
                a {
                    color: #0056a8;
                    word-break: break-all;
                }
                p{
                    margin-bottom: 0;
                }
            }
        }
        ol {
            padding: 0;
            background: #fff;
            color: #363636;
            list-style-type: disc;
            margin-left: 1.25rem;
            list-style-type: decimal;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 1.5rem;
            font-family: Larsseit;
            font-weight: 400;
            li {
                line-height: 1.6;
                a {
                    color: #0056a8;
                    word-break: break-all;
                }
            }
        }
    }
    .alexa-selcet {
        .navBar.navBar--sub {
            display: none !important;
        }
    }
    .alexa-selcet .center-in-page {
        height: 500px;
        padding-top: 200px;
        h2 {
            max-width: 420px;
            color: #0056a8;
            font-size: 26px;
            font-weight: bold;
            margin: 0 auto;
            font-family: Larsseit;
            text-transform: uppercase;
            line-height: 1.2;
        }
        select {
            width: 100%;
            max-width: 320px;
        }
    }
    .accordion-item {
        border-bottom: 1px solid #565a5c;
        .title {
            position: relative;
            font-size: 18px;
            padding: 24px 28px 24px 0;
            margin: 0.625rem 0 0.625rem;
            font-weight: 700;
            font-family: "Larsseit Alt Medium",sans-serif;
            cursor: pointer;
            color: #0056A8;

            &:before,
            &:after {
                position: absolute;
                content: '';
                width: 15px;
                height: 15px;
            }

            &:before {
                right: -6px;
                bottom: 27px;
                border-left: 2.5px #0056a8 solid;
            }

            &:after {
                right: 0;
                bottom: 33px;
                border-bottom: 2.5px #0056a8 solid;
            }

            &.removeAdd {
                &:before {
                    display: none;
                }
            }
        }
        .content {
            display: none;
            margin-left: 30px;
        }
        .accordion-item {
            margin: 0 20px;
            border-bottom: none;
            .title{
                padding-left: 30px;
                padding-right: 0;
                margin-top: 0;
                margin-bottom: 0;
                &:before {
                    left: 6px;
                    top: 27px;
                    right: auto;
                    bottom: auto;
                }
                &:after {
                    left: 0;
                    top: 20px;
                    right: auto;
                    bottom: auto;
                }

            }
            h4.title{
                &:before{
                    top: 31px;
                }
                &:after{
                    top: 24px;
                }
            }

            &:last-child {
                margin-bottom: 20px;
            }
        }
        table{
            tr td,tr th{
                border:1px solid #565a5c;
                padding:2px 5px;
                text-align: center;
            }
        } 
    }
}
