// PASTE CUSTOM STYLING HERE
input#gift-certificate-submit,
input#gift-certificate-preview,
input.button.button--primary.form-prefixPostfix-button--postfix,
.heroCarousel-action,
.compare a,
.button--primary,
.form-actions .button,
.form-actions a.button.button--small,
.cart-actions .button,
.previewCartAction .button,
h3.account .button:not(.card-figcaption-button),
a.modal-close.custom-quick-search,
a.reset.quicksearch,
button.swal2-confirm.button,
button.swal2-cancel.button,
form#facet-range-form button.button.button--small,
div#alert-modal button.confirm.button,
main.page.blog a.read-more-button,
html div#checkout-app .button {
    font-family: "Roboto Condensed";
}
#side-categories li .navPages-action,
#side-categories div.brands li a,
.heroCarousel-title,
p.heroCarousel-description,
.shop-by-price .navList li a,
a.subcategory-link,
.card-title > a,
.card-text,
.productView-details .price-section.price-section--saving.price span,
.productView-brand a,
.productView-title,
dt.productView-info-name,
dd.productView-info-value,
.productView-price,
.productView-price .price-section--minor,
.price-section--minor,
.product.main .tabs-contents,
.tab,
h3.tab-content-title,
.productView label.form-label,
main.page.content h1, main.page.content h2, main.page.content h3, main.page.content h4, main.page.content h5, main.page.content h6,
main.page.content h1.page-heading,
main.page.content p,
main.page.blog h1.page-heading,
h2.card-title,
.product-layout .productView-details .productView-reviewLink + .productView-reviewLink,
.product-layout .productView-details span.productView-reviewLink.reviewList,
h4.listItem-title,
.listItem-price,
#modal .productView.productView--quickView .tab,
#modal .productView.productView--quickView .tabs-contents,
h2.card-text.brand,
h2.card-text.sku,
.card-text span.price-label,
span.price-label,
.card-text abbr,
article .current-price span.price,
span.price.price--withTax,
span.price.price--withoutTax,
.previewCart  h2.card-title,
.previewCart  h2.card-title > a,
.cart-item-name a {
    font-family: "Larsseit";
}

// first HP block
#sd-image-fc153c69-186b-451f-922a-9f6da0c6616a {
    @media only screen and (max-width : 767px) {
        display: none !important;
    }
}
#sd-image-b5f545c7-97c6-42ef-9cba-4a1b644d1f9f {
    @media only screen and (min-width : 767px) {
        display: none !important;
    }
}
.see-products-modal-outer {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 10em;
    @media only screen and (max-width : 767px) {
        margin-bottom: 0;
    }
    .see-products-modal {
        display: flex;
        flex-direction: column;
        max-width: 630px;
        height: 341px;
        border-radius: 10px;
        box-shadow: 0px 3px 6px #d3d3d3;
        background-color: #fff;
        position: absolute;
        top: -240px;
        .title {
            font-size: 64px;
            font-weight: bold;
            color: #0056A8;
            margin-left: 70px;
            margin-right: 44px;
            margin-top: 38px;
            letter-spacing: 0px;
            line-height: 1;
        }
        .button {
            &:hover {
                color: #026CD1;
                background-color: #026CD1;
            }
            max-width: 230px;
            height: 70px;
            border-radius: 3px;
            margin-left: 70px;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #0056A8;
            color: #0056A8;
            .button-text {
                font-size: 22px;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}
@media only screen and (max-width : 767px) {
    .see-products-modal-outer {
        margin-right: auto;
        justify-content: center;
        .see-products-modal {
            max-width: 318px;
            max-height: 290px;
            margin: 0;
            position: relative;
            top: -110px;
            .title {
                font-size: 36px;
                margin-top: 49px;
                margin-left: 30px;
                margin-right: 35px;
            }
            .button {
                margin-left: 30px;
                margin-top: 25px;
            }
        }
    }
}
// second HP block
#sd-image-f803c0b2-dac0-41d7-b273-0d4d82f0ca84 {
    max-width: 1095px !important;
    max-height: 990px !important;
    align-items: flex-start !important;
    margin-right: 3rem !important;
    @media only screen and (max-width : 767px) {
        order: 1 !important;
        position: relative;
        top: -25px;
    }
}
@media only screen and (max-width : 767px) {
    [data-sub-layout="4ba521cb-b0c6-4262-b004-bb136bedfd79"] {
        order: 2;
    }
    [data-sub-layout-container="53fef8a6-9239-4ad2-948d-598fe31015b5"] {
        position: relative;
        top: -50px;
    }
}
.learn-more-modal-outer {
    display: flex;
    justify-content: center;
    .learn-more-modal {
        max-width: 384px;
        max-height: 203px;
        .title {
            font-size: 48px;
            font-weight: bold;
            line-height: 1.2;
            color: #0056A8;
            margin-bottom: 1em;
            .title-1 {
                color: #009FDF;
            }
        }
        .button {
            &:hover {
                color: #026CD1;
                background-color: #026CD1;
            }
            background-color: #0056A8;
            color: #0056A8;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 220px;
            height: 59px;
            .button-text {
                font-size: 22px;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}
// third hp block
#sd-image-c06869e0-7d4e-41c2-bad7-116ea247d323 {
    margin-top: 9em !important;
    @media only screen and (max-width : 767px) {
        display: none !important;
    }
}
#sd-image-51cdbcf7-3cdc-4fdb-ada7-b1ebdf1f42bb {
    @media only screen and (min-width : 767px) {
        display: none !important;
    }
}
.hp-newsletterSubscription {
    .footer-info-heading {
        display: none !important;
    }
    display: flex;
    flex-direction: column;
    max-width: 792px;
    max-height: 370px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #d3d3d3;
    background-color: #fff;
    position: relative;
    left: 150px;
    top: -200px;
    .newsletterSubscription-h1 {
        h1 {
            margin-top: 0;
            margin-bottom: 40px;
            font-size: 48px;
            line-height: 1.2;
            margin-left: 42px;
            color: #0056A8;
            font-weight: bold;
            .title-1 {
                color: #009FDF;
            }
        }
    }
    .form-prefixPostfix.wrap {
        margin-left: 42px;
        max-width: 708px;
        height: 70px;
        border: solid 1px #707070;
        border-radius: 5px;
        .form-input {
            margin: 0;
            border-style: none !important;
            height: auto;
            border-radius: 5px 0 0 5px !important;
            font-size: 24px;
            color: #323232;
            &::placeholder {
                text-align: left !important;
            }
            &::selection {
                background: #fff !important;
            }
        }
        .button.button--primary.form-prefixPostfix-button--postfix {
            margin: 0;
            border-style: none !important;
            border-radius: 0 3px 3px 0 !important;
            width: 200px;
            height: auto !important;
            background-color: #0456A8 !important;
            font-size: 22px;
            &:hover {
                background-color: #026CD1 !important;
                color: #fff;
            }
        }
    }
}
@media only screen and (max-width : 767px) {
    #sd-image-51cdbcf7-3cdc-4fdb-ada7-b1ebdf1f42bb {
        margin-top: 10rem !important;
    }
    .hp-newsletterSubscription {
        max-width: 318px;
        max-height: 313px;
        left: auto;
        margin: 0 auto;
        position: relative;
        top: -150px;
        justify-content: center;
        align-items: center;
        .footer-info-heading {
            display: none;
        }
        h1 {
            font-size: 24px;
            margin-left: 0;
            text-align: center;
            margin-bottom: 1.3em;
            margin-top: 2.5em;
        }
        .form-prefixPostfix.wrap {
            margin-left: 0;
            height: auto;
            flex-direction: column;
            border-style: none;
            justify-content: center;
            align-items: center;
            .form-input {
                width: 257px !important;
                height: 50px !important;
                font-size: 16px;
                border: solid 1px #707070 !important;
                border-radius: 5px !important;
                margin: 0 auto !important;
                margin-bottom: 1.5em !important;
                &::placeholder {
                    text-align: center !important;
                }
            }
            .button.button--primary.form-prefixPostfix-button--postfix {
                border-radius: 5px !important;
                width: 257px !important;
                height: 50px !important;
            }
        }
    }
}
// fourth block HP
#sd-image-30621b37-8d54-422f-aa1d-66e4e35b6878 {
    max-width: 792px !important;
    max-height: 650px !important;
    margin-left: 10rem !important;
    @media only screen and (min-width : 1800px) {
        margin-left: 20rem !important;
    }
    @media only screen and (max-width : 767px) {
        display: none !important;
    }
}
#sd-image-f78ee9e6-712e-4147-9c1a-465bf622c4c2 {
    @media only screen and (max-width : 767px) {
        display: none !important;
    }
}
[data-sub-layout="2a1f13dc-2879-41d2-9ed0-5c75fe446ddf"] {
    justify-content: flex-end !important;
}
#sd-image-f78ee9e6-712e-4147-9c1a-465bf622c4c2 {
    position: relative;
    left: -2em;
    width: 132px !important;
    height: 103px !important;
    @media only screen and (min-width : 1800px) {
        left: -5em;
    }
}
.outer-hp-fourth-block {
    display: flex;
    justify-content: flex-end;
    margin-right: 10rem;
    @media only screen and (min-width : 1800px) {
        margin-right: 20rem;
    }
    .hp-fourth-block {
        max-width: 282px;
        h1 {
            font-size: 48px;
            color: #009FDF;
            font-weight: bold;
            line-height: 1.2;
        }
        h3 {
            font-size: 24px;
            color: #323232;
        }
        h5 {
            font-size: 12px;
            color: #323232;
        }
    }
}
#sd-image-54d4d194-aaa8-4ab4-83b1-88b5042d8e7b {
    @media only screen and (min-width : 767px) {
        display: none !important;
    }
}
#sd-image-14928544-23c4-4e16-8af6-aeb556b0df73 {
    @media only screen and (min-width : 767px) {
        display: none !important;
    }
}
@media only screen and (max-width : 767px) {
    .outer-hp-fourth-block {
        margin-right: 0;
        justify-content: center;
        .hp-fourth-block {
            max-width: 767px;
            margin-left: 1rem;
            margin-right: 1rem; 
            margin-bottom: 2rem;
        }
    }
    #sd-image-14928544-23c4-4e16-8af6-aeb556b0df73 {
        max-width: 55px;
        max-height: 45px;
    }
    [data-sub-layout-container="15c29dc4-f30a-4849-b766-2a974c38354e"] {
        position: relative;
        top: -100px;
        [data-sub-layout="b7dc9040-ddb3-469b-8d5f-7268a6af041d"] {
            order: 1;
        }
        [data-sub-layout="78fd8727-7a87-4ff1-bc29-c0d2a84a5fb1"] {
            order: 2;
        }
        [data-sub-layout="2a1f13dc-2879-41d2-9ed0-5c75fe446ddf"] {
            order: 3;
            margin-top: 2rem;
            justify-content: center;
            align-items: center;
        }
    }
}
// fifth block hp
#sd-image-65803aed-993b-4738-b7b3-7a2f92c426cf {
    width: 132px !important;
    height: 103px !important;
    position: relative;
    right: -20px;
    @media only screen and (min-width : 1800px) {
        right: -50px;
    }
    @media only screen and (max-width : 767px) {
        display: none !important;
    }
}
[data-sub-layout="9723d585-b5cd-41d4-a2f6-3cf868874d4d"] {
    z-index: 1 !important;
    justify-content: flex-end !important;
}
#sd-image-3a72f44c-f5e8-48c5-a7a9-f49a42188946 {
    max-width: 792px !important;
    max-height: 650px !important;
    margin-right: 10rem !important;
    @media only screen and (min-width : 1800px) {
        margin-right: 20rem !important;
    }
    @media only screen and (max-width : 767px) {
        display: none !important;
    }
}
.home.eleven-seventy.slider-full-width-in-container div[data-content-region="home_below_menu"] {
    margin-top: 10rem;
    .outer-hp-fourth-block {
        .hp-fourth-block {
            max-width: 350px;
        }
        margin-left: 10rem !important;
        margin-right: 0 !important;
        justify-content: flex-start;
        @media only screen and (min-width : 1800px) {
            margin-left: 20rem !important;
            margin-right: 0 !important;
        }
    }
}
#sd-image-85735771-f5e0-4fd7-93cb-0ae3cbcb14bf {
    @media only screen and (min-width : 767px) {
        display: none !important;
    }
}
#sd-image-c049018c-15d8-4191-be98-fcf5873bc5b9 {
    @media only screen and (min-width : 767px) {
        display: none !important;
    }
}
body.main:not(.nine-sixty) .header-container.in-container {
    margin-top: 0 !important;
}
@media only screen and (max-width : 767px) {
    .home.eleven-seventy.slider-full-width-in-container div[data-content-region="home_below_menu"] .outer-hp-fourth-block {
        margin-left: 0 !important;
    }
    [data-sub-layout-container="f4ce38e7-3fc3-4d8f-b9b2-0b76742f84f0"] {
        position: relative;
        top: -220px;
        [data-sub-layout="97a7ce73-853c-4ede-ab0b-2e0169abb2c9"] {
            order: 1;
        }
        [data-sub-layout="4aedaa5e-1d61-47a3-8eb5-ae652df184a9"] {
            order: 2;
        }
        [data-sub-layout="9723d585-b5cd-41d4-a2f6-3cf868874d4d"] {
            order: 3;
        }
    }
    #sd-image-85735771-f5e0-4fd7-93cb-0ae3cbcb14bf {
        max-width: 53px;
        max-height: 42px;
        margin: 0 auto !important;
        margin-top: 2rem !important;
    }
}

.container.main {
    margin-bottom: 70px;
    @media screen and (min-width : 800px) {
        margin-bottom: 100px;
    }
}
#body.slider-full-width.home-layout .container.main {
    margin-bottom: -128px;
    @media screen and (min-width : 800px) {
        margin-bottom: 200px;
    }
}
.body.content {
    margin-top: 147px!important;
    @media screen and (min-width : 800px) {
        margin-top: 165px!important;
    }
    @media screen and (min-width : 1025px) {
        margin-top: 167px!important;
    }
    @media screen and (min-width : 1223px) {
        margin-top: 210px!important;
    }
}
ul.breadcrumbs {
    width: 100%;
}
.container.main {
    margin-top: 0 !important;
}
// plp
h1.page-heading {
    font-weight: 700;
}
body.main.eleven-seventy div#side-categories {
    display: none;
}
.subcategory-grid {
    display: none!important;
}