// PASTE CUSTOM STYLING HERE
input#gift-certificate-submit,
input#gift-certificate-preview,
input.button.button--primary.form-prefixPostfix-button--postfix,
.heroCarousel-action,
.compare a,
.button--primary,
.form-actions .button,
.form-actions a.button.button--small,
.cart-actions .button,
.previewCartAction .button,
h3.account .button:not(.card-figcaption-button),
a.modal-close.custom-quick-search,
a.reset.quicksearch,
button.swal2-confirm.button,
button.swal2-cancel.button,
form#facet-range-form button.button.button--small,
div#alert-modal button.confirm.button,
main.page.blog a.read-more-button,
html div#checkout-app .button {
    font-family: "Roboto Condensed";
}

// first HP block
#sd-image-fc153c69-186b-451f-922a-9f6da0c6616a {
    @media only screen and (max-width : 767px) {
        display: none !important;
    }
}
#sd-image-b5f545c7-97c6-42ef-9cba-4a1b644d1f9f {
    @media only screen and (min-width : 767px) {
        display: none !important;
    }
}
.see-products-modal-outer {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 10em;
    @media only screen and (max-width : 767px) {
        margin-bottom: 0;
    }
    .see-products-modal {
        display: flex;
        flex-direction: column;
        max-width: 630px;
        height: 341px;
        border-radius: 10px;
        box-shadow: 0px 3px 6px #d3d3d3;
        background-color: #fff;
        position: absolute;
        top: -240px;
        .title2 {
            font-size: 64px;
            font-weight: bold;
            color: #0056A8;
            margin-left: 70px;
            margin-right: 44px;
            margin-top: 60px;
            margin-bottom: 60px;
            letter-spacing: 0px;
            line-height: 1;
        }
        .button {
            &:hover {
                color: #fff;
                background-color: #026CD1;
            }
            max-width: 221px;
            height: 59px;
            border-radius: 3px;
            margin-left: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #0056A8;
            color: #0056A8;
            font-size: 18px;
            color: #fff;
            border: none;
            .button-text {
                font-size: 22px;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}
@media only screen and (max-width : 767px) {
    .see-products-modal-outer {
        justify-content: flex-start;
        .see-products-modal {
            max-width: 318px;
            max-height: 258px;
            margin: 0;
            position: relative;
            top: -110px;
            left: 36px;
            .title2 {
                font-size: 36px;
                margin-top: 49px;
                margin-left: 30px;
                margin-right: 35px;
                margin-bottom: 30px;
            }
            .button {
                margin-left: 30px;
            }
        }
    }
}
// second HP block
#sd-image-f803c0b2-dac0-41d7-b273-0d4d82f0ca84 {
    max-width: 1095px !important;
    max-height: 990px !important;
    align-items: flex-start !important;
    margin-right: 3rem !important;
    @media only screen and (max-width : 767px) {
        order: 1 !important;
        position: relative;
        top: -25px;
    }
}
@media only screen and (max-width : 767px) {
    [data-sub-layout="4ba521cb-b0c6-4262-b004-bb136bedfd79"] {
        order: 2;
    }
    [data-sub-layout-container="53fef8a6-9239-4ad2-948d-598fe31015b5"] {
        position: relative;
        top: -50px;
        z-index: 1!important;
    }
}
.learn-more-modal-outer {
    display: flex;
    @media only screen and (max-width : 767px) {
        margin-left: 36px;
    }
    .learn-more-modal {
        max-width: 384px;
        max-height: 203px;
        .hp-title {
            font-size: 48px;
            font-weight: bold;
            line-height: 1.2;
            @media only screen and (max-width : 767px) {
                line-height: 52px;
            }
            color: #0056A8;
            margin-bottom: 1em;
            .title-1 {
                color: #119edd;
            }
        }
        .button {
            &:hover {
                color: #fff;
                background-color: #026CD1;
            }
            background-color: #0056A8;
            color: #0056A8;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 220px;
            height: 59px;
            color: #fff;
            font-size: 18px;
            border: none;
            .button-text {
                font-size: 22px;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}
// third hp block
#sd-image-c06869e0-7d4e-41c2-bad7-116ea247d323 {
    margin-top: 9em !important;
    @media only screen and (max-width : 767px) {
        display: none !important;
    }
}
#sd-image-51cdbcf7-3cdc-4fdb-ada7-b1ebdf1f42bb {
    @media only screen and (min-width : 767px) {
        display: none !important;
    }
}
.hp-newsletterSubscription {
    .footer-info-heading {
        display: none !important;
    }
    display: flex;
    flex-direction: column;
    max-width: 792px;
    max-height: 370px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #d3d3d3;
    background-color: #fff;
    position: relative;
    top: -200px;
    h1 {
        margin-bottom: 40px;
        font-size: 48px;
        line-height: 1.2;
        margin-left: 42px;
        color: #0056A8;
        font-weight: bold;
        .title-1 {
            color: #119edd;
        }
    }
    .form-prefixPostfix.wrap {
        margin-left: 42px;
        max-width: 708px;
        height: 70px;
        border: solid 1px #707070;
        border-radius: 5px;
        .form-input {
            margin: 0;
            border-style: none !important;
            height: auto;
            border-radius: 5px 0 0 5px !important;
            font-size: 24px;
            color: #323232;
            &::placeholder {
                text-align: left !important;
            }
            &::selection {
                background: #fff !important;
            }
        }
        .button.button--primary.form-prefixPostfix-button--postfix {
            margin: 0;
            border-style: none !important;
            border-radius: 0 3px 3px 0 !important;
            width: 200px;
            height: auto !important;
            background-color: #0456A8 !important;
            font-size: 22px;
            &:hover {
                background-color: #026CD1 !important;
                color: #fff;
            }
        }
    }
}
@media only screen and (max-width : 767px) {
    #sd-image-51cdbcf7-3cdc-4fdb-ada7-b1ebdf1f42bb {
        margin-top: 10rem !important;
    }
    .hp-newsletterSubscription {
        max-width: 318px;
        max-height: 313px;
        left: 36px;
        position: relative;
        top: -150px;
        justify-content: center;
        align-items: center;
        .footer-info-heading {
            display: none;
        }
        h1 {
            font-size: 24px;
            margin-left: 0;
            text-align: center;
            margin-bottom: 1.3em;
            margin-top: 2.5em;
            max-width: 260px;
        }
        .form-prefixPostfix.wrap {
            margin-left: 0;
            height: auto;
            flex-direction: column;
            border-style: none;
            justify-content: center;
            align-items: center;
            .form-input {
                width: 257px !important;
                height: 50px !important;
                font-size: 16px;
                border: solid 1px #707070 !important;
                border-radius: 5px !important;
                margin: 0 auto !important;
                margin-bottom: 1.5em !important;
                &::placeholder {
                    text-align: center !important;
                }
            }
            .button.button--primary.form-prefixPostfix-button--postfix {
                border-radius: 5px !important;
                width: 257px !important;
                height: 50px !important;
            }
        }
    }
}
// fourth block HP
#sd-image-30621b37-8d54-422f-aa1d-66e4e35b6878 {
    max-width: 792px !important;
    max-height: 650px !important;
    @media only screen and (max-width : 767px) {
        display: none !important;
    }
}
#sd-image-f78ee9e6-712e-4147-9c1a-465bf622c4c2 {
    @media only screen and (max-width : 767px) {
        display: none !important;
    }
}
[data-sub-layout="2a1f13dc-2879-41d2-9ed0-5c75fe446ddf"] {
    justify-content: flex-end !important;
}
#sd-image-f78ee9e6-712e-4147-9c1a-465bf622c4c2 {
    position: relative;
    left: -2em;
    width: 132px !important;
    height: 103px !important;
}
.outer-hp-fourth-block {
    display: flex;
    justify-content: flex-end;
    .hp-fourth-block {
        max-width: 282px;
        h1 {
            font-size: 48px;
            color: #119EDD;
            font-weight: bold;
            line-height: 53px;
            letter-spacing: normal;
        }
        h3 {
            font-size: 24px;
            line-height: 36px;
            color: #323232;
        }
        h5 {
            font-size: 12px;
            color: #323232;
            font-style: italic;
            text-transform: none;
            line-height: 16px;
        }
    }
}
#sd-image-54d4d194-aaa8-4ab4-83b1-88b5042d8e7b {
    @media only screen and (min-width : 767px) {
        display: none !important;
    }
}
#sd-image-14928544-23c4-4e16-8af6-aeb556b0df73 {
    @media only screen and (min-width : 767px) {
        display: none !important;
    }
}
@media only screen and (max-width : 767px) {
    .outer-hp-fourth-block {
        justify-content: flex-start;
        .hp-fourth-block {
            position: relative;
            left: 36px;
            margin-bottom: 40px;
        }
    }
    #sd-image-14928544-23c4-4e16-8af6-aeb556b0df73 {
        max-width: 55px;
        max-height: 45px;
    }
    [data-sub-layout-container="15c29dc4-f30a-4849-b766-2a974c38354e"] {
        position: relative;
        top: -100px;
        [data-sub-layout="b7dc9040-ddb3-469b-8d5f-7268a6af041d"] {
            order: 1;
        }
        [data-sub-layout="78fd8727-7a87-4ff1-bc29-c0d2a84a5fb1"] {
            order: 2;
        }
        [data-sub-layout="2a1f13dc-2879-41d2-9ed0-5c75fe446ddf"] {
            order: 3;
            margin-top: 2rem;
            justify-content: center;
            align-items: center;
        }
    }
}
// fifth block hp
#sd-image-65803aed-993b-4738-b7b3-7a2f92c426cf {
    width: 132px !important;
    height: 103px !important;
    position: relative;
    @media only screen and (max-width : 767px) {
        display: none !important;
    }
}
[data-sub-layout="9723d585-b5cd-41d4-a2f6-3cf868874d4d"] {
    z-index: 1 !important;
    justify-content: flex-end !important;
}
#sd-image-3a72f44c-f5e8-48c5-a7a9-f49a42188946 {
    max-width: 792px !important;
    max-height: 650px !important;
    @media only screen and (max-width : 767px) {
        display: none !important;
    }
}
.home.eleven-seventy.slider-full-width-in-container div[data-content-region="home_below_menu"] {
    margin-top: 140px;
    .outer-hp-fourth-block {
        .hp-fourth-block {
            max-width: 282px;
        }
        margin-right: 0 !important;
        justify-content: flex-start;
    }
}
#sd-image-85735771-f5e0-4fd7-93cb-0ae3cbcb14bf {
    @media only screen and (min-width : 767px) {
        display: none !important;
    }
}
#sd-image-c049018c-15d8-4191-be98-fcf5873bc5b9 {
    @media only screen and (min-width : 767px) {
        display: none !important;
    }
}
body.main:not(.nine-sixty) .header-container.in-container {
    margin-top: 0 !important;
}
@media only screen and (max-width : 767px) {
    .home.eleven-seventy.slider-full-width-in-container div[data-content-region="home_below_menu"] .outer-hp-fourth-block {
        margin-left: 0 !important;
    }
    [data-sub-layout-container="f4ce38e7-3fc3-4d8f-b9b2-0b76742f84f0"] {
        position: relative;
        top: -220px;
        [data-sub-layout="97a7ce73-853c-4ede-ab0b-2e0169abb2c9"] {
            order: 1;
        }
        [data-sub-layout="4aedaa5e-1d61-47a3-8eb5-ae652df184a9"] {
            order: 2;
        }
        [data-sub-layout="9723d585-b5cd-41d4-a2f6-3cf868874d4d"] {
            order: 3;
        }
    }
    #sd-image-85735771-f5e0-4fd7-93cb-0ae3cbcb14bf {
        max-width: 53px;
        max-height: 42px;
        margin: 0 auto !important;
        margin-top: 2rem !important;
    }
}

.container.main {
    margin-bottom: 70px;
    @media screen and (min-width : 800px) {
        margin-bottom: 100px;
    }
}
#body.slider-full-width.home-layout .container.main {
    margin-bottom: -128px;
    @media screen and (min-width : 800px) {
        margin-bottom: 200px;
    }
}
.body.content {
    margin-top: 147px!important;
    @media screen and (min-width : 800px) {
        margin-top: 165px!important;
    }
    @media screen and (min-width : 1025px) {
        margin-top: 167px!important;
    }
    @media screen and (min-width : 1223px) {
        margin-top: 210px!important;
    }
}
ul.breadcrumbs {
    width: 100%;
    margin-bottom: 34px;
    @media screen and (min-width : 767px) {
        margin-bottom: 60px;
    }
}
.container.main {
    margin-top: 0 !important;
}

h1.page-heading {
    font-weight: 700;
}
main.page.content h1.page-heading {
    font-weight: 700;
    font-size: 36px;
    color: #0056A8;
    line-height: 1.2;
    margin-bottom: 34px;

    @media screen and (min-width: 767px) {
        font-size: 48px;
        margin-bottom: 44px;
    }
}
// plp
body.main.eleven-seventy div#side-categories {
    display: none;
}
.subcategory-grid {
    display: none!important;
}
h2.card-title {
    height: auto;
}
// mobile QA
@media only screen and (max-width: 800px) {
    #body.main.home .home-below-hero { padding: 0; }
}

// press kits
[data-layout-name="press-kits-box"] {
    div[data-sub-layout] {
        &:last-child {
            
            @media only screen and (min-width: 701px) {
                padding-left: 30px;
            }
            @media only screen and (min-width: 1261px) {
                padding-left: 126px;
            }
        }
    }
}
[role="button"] a {
    font-family: "Roboto Condensed"!important;
}


//contact us
main.page.content .contactUs {
    h1.page-heading{
        // color: #0056a8;
        font-size: 32px;
        margin-bottom: 0;
    }
    .contact_us_message{
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        a.button{
            font-size: 22px;
        }
        p{
            width: 60%;
            cursor: default;
        }
        .tel{
            font-weight: bold;
            cursor: default;
            span{
             font-size: 22px;   
            }
            
        }
        @media (max-width:1024px) {
            display: block;
            width: 100%;
            div{
                display: inline-block;
            }
            p{
                width: 100%;
            }
        }

    }
    .contactUs_icon{
        svg{
            width: 20px;
            height: 20px;
        }
        @media (max-width:1024px) {
            margin-left: 20px;
        }
    }
}
// for homepage slide effect
#body.slider-full-width.home-layout .container.main {
    @media only screen and (max-width : 767px) {
        margin-bottom: 0 !important;
    }
}
//category  h1.page-heading 
h1.page-heading.category{
    font-size: 48px;
    line-height: 57px;
}

.main.category-layout.eleven-seventy.base-layout.category-layout-no-sidevav.sidenav-inactive.sidebar-no-sidenav-categories {
    .form-field {
        position: relative;
        bottom: 7px;
    }
    article.card.brand-sku-active .card-sku-brand-section {
        height: 20px;
        font-size: 16px;
    }
    .actionBar-section .form-label, .actionBar-section .form-input, .actionBar-section .form-select {
        font-size: 18px;
    }
    select#sort {
        font-size: 18px;
    }
    .sku-label {
        font-size: 16px;
    }
    .sku-value {
        font-size: 16px;
    }
    .listItem-title {
        line-height: 30px;
    }
    .price-section.current-price span.price {
        font-size: 22px !important;
    }
    a.button.button--primary {
        font-size: 22px;
        @media (max-width: 767px) {
            font-size: 16px;
        }
        span{
            font-size: 22px;
            line-height: inherit;
        }
    }
}
.main.category-layout.eleven-seventy.base-layout.category-layout-no-sidevav.sidenav-inactive.shop-by-price-disabled.facetedSearch-disabled {
    .form-field {
        position: relative;
        bottom: 7px;
    }
    article.card.brand-sku-active .card-sku-brand-section {
        height: 20px;
        font-size: 16px;
    }
    .actionBar-section .form-label, .actionBar-section .form-input, .actionBar-section .form-select {
        font-size: 18px;
    }
    select#sort {
        font-size: 18px;
    }
    .sku-label {
        font-size: 16px;
    }
    .sku-value {
        font-size: 16px;
    }
    .listItem-title {
        line-height: 30px;
    }
    .price-section.current-price span.price {
        font-size: 22px !important;
    }
    a.button.button--primary {
        font-size: 22px;
    }
}
.main.category-layout.eleven-seventy.base-layout.category-layout-no-sidevav.sidenav-inactive.sidebar-no-sidenav-categories .card-title a {
    font-size: 20px;
    line-height: 30px;
}

.section__more-faq {
    background: #f8f8f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 0 51px 0;
    h4 {
        font-size: 27px !important;
        font-weight: bold !important;
        padding: 0;
        margin: 22px 0 30px 0;
        color: #0056A8 !important;
        padding-top: 40px;
    }
    p {
        margin: 0 0 17px 0;
        padding: 0;
        font-family: "Larsseit Alt Medium",sans-serif;
        color: #323232 !important;
    }
    .button {
        font-size: 18px;
    }
}
.faq-page {
    font-family: "Larsseit Alt Medium",sans-serif !important;
    .accordion-content {
        padding: 0 !important;
    }
    ul.accordion-content.faq-content {
        display: block;
        .content {
            display: none;
        }
    }
    ul {
        list-style: none;
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
    h1.page-title {
        font-size: 2.5rem !important;
        line-height: 1 !important;
        color: #005A7A !important;
        font-family: "Larsseit Alt Medium",sans-serif !important;
        font-weight: normal !important;
        font-style: normal !important;
        margin-top: 50px;
        margin-bottom: 25px;
    }
    p.sub-page-title {
        font-size: 1.25rem !important;
        line-height: 1.3 !important;
        color: #4A4E50 !important;
    }
    main.page.content p {
        font-size: 16px;
        font-family: "Larsseit Alt Medium",sans-serif !important;
    }
    li {
        border-bottom: 1px solid #565A5C;
    }
    h3 {
        position: relative;
        font-size: 18px;
        margin: 0;
        color: #0056A8!important;
        font-weight: bold !important;
        padding: 24px 28px 24px 0 !important;
        cursor: pointer !important;
        font-family: "Larsseit Alt Medium",sans-serif !important;
        transition: all .25s !important;
    }
    .title::after {
        position: absolute;
        content: '';
        right: 0;
        bottom: 28px;
        width: 15px;
        height: 15px;
        border-bottom: 2.5px #0056A8 solid;
    }
    .title::before {
        position: absolute;
        content: '';
        right: -6px;
        bottom: 22px;
        width: 15px;
        height: 15px;
        border-left: 2.5px #0056A8 solid;
    }
    .removeAdd::before {
        display: none;
    }
    h2 {
        color: #4A4E50 !important;
        font-size: 24px !important;
        margin-top: 40px !important;
        font-weight: normal !important;
        line-height: 1.2 !important;
        font-family: "Larsseit Alt Medium",sans-serif !important;
    }
    a {
        color: #0056A8;
        text-decoration: unset !important;
    }
    a:hover {
        color: #0056A8 !important;
        text-decoration: underline !important;
    }
    p {
        color: #323232 !important;
    }
}
.faq-page p.sub-page-title {
    color: #323232 !important;
}
@media only screen and (max-width : 1024px) {
    .page-learn-content h1 {
        padding-top: 50px;
    }
}

.page-learn-content ul.account-navigation{
    display: block;
    margin: 0 -12.5px!important;
    font-size: 0;
    text-align: left;
    .navBar-item{
        display: inline-block;
        vertical-align: top;
        width: 100%;
        padding: 0 12.5px;
        margin: 0;
        @media screen and (min-width : 551px) {
            width: 50%;
        }
        @media screen and (min-width : 768px) {
            width: 33.33%;
        }
        @media screen and (min-width : 1025px) {
            width: 25%;
        }
        @media screen and (min-width : 1261px) {
            width: 20%;
        }

        .navBar-item-inner {
            margin: 0;
            margin-bottom: 25px;
            padding: 10px;
            text-transform: none;
            border-radius: 10px;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        }
        .img_box{
            position: relative;
            width: 100%;
            padding-top: 100%;
            background: url('https://cdn11.bigcommerce.com/s-cvf6u5slgz/product_images/uploaded_images/backgound-imsge.png') no-repeat;
            background-size:cover;
            margin: 0 auto 20px;
            .image-container {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 1px solid #0456A8;
                height: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            img{
                border: 1px solid #0456A8;
                width: 100%;
                height: 100%;
            }
        }
        .item-info{
            display: inline-flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            margin-bottom: 10px;
            .title {
                display: flex;
                align-items: center;
                text-align: left;
                width: 150px;
                font-size: 18px;
                font-weight: 500;  
                line-height: 22px;
                min-height: 44px;      
                
            }
            .icon_right{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 36px;
                height: 36px;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                border-radius: 25px;
                svg{
                    width: 10px;
                    height: 14px;
                    fill: #0056A8;
                    margin: auto;
                }
            }

        }
    }
}

[data-sub-layout-container="713ac16e-8d07-4c49-aeb8-6b6196034d60"] {
    margin-top: 50px;
    margin-bottom: 150px;
    flex-wrap: nowrap !important;
}
[data-sub-layout-container="27967a75-f5a1-48ee-973b-51064f675fd6"] {
    margin-bottom: 150px;
    flex-wrap: nowrap !important;
}
[data-sub-layout-container="32511f3b-f86e-486e-9464-910cd6dc07d9"] {
    // margin-bottom: 150px;
    margin-bottom: 50px;
    flex-wrap: nowrap !important;
}
[data-sub-layout-container="a83f4905-45f2-46fc-9966-1f562220006c"] {
    margin-top: 50px;
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-sub-layout-container="e4f14c48-1e36-46cf-aa0d-0053305bc723"] {
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-sub-layout-container="07cf3632-6792-4a2b-8226-8d901288f02a"] {
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-sub-layout-container="d1f009b1-0bbf-410e-8806-ae0c09b60dac"] {
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-sub-layout-container="d08641ef-1fe8-48ae-9efd-b62f842d7455"] {
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-sub-layout-container="edfc0b75-4b37-43cd-9d09-cc68bad9e22a"] {
    margin-top: 150px;
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-sub-layout="314933fd-5248-4eed-b7d6-df49f3430d73"] {
    margin-left: 126px;
}
[data-sub-layout="48e4ad6a-b34b-4edb-9eee-e28526002014"] {
    margin-right: 126px;
}
[data-sub-layout="aae3a3c2-ca2d-4bf0-8d0f-bb3a96394dc4"] {
    margin-left: 126px;
}
[data-sub-layout="90e33b19-5bdd-4fdf-9899-165167b6a1be"] {
    margin-left: 126px;
}
[data-sub-layout="79302ad4-ec36-4298-adbd-8565cbcdc67f"] {
    margin-right: 126px;
}
[data-sub-layout="5394e07f-a512-4b2c-9590-c8449ec9b9d7"] {
    margin-left: 126px;
}
[data-sub-layout="3e293e4a-493c-4b6b-80c1-5dff39eef59f"] {
    margin-right: 126px;
}
[data-sub-layout="372dfd84-ddde-48a9-984b-edf299432d91"] {
    margin-left: 126px;
}
[data-sub-layout="0cd431c3-0189-4ed0-9395-368706a337cf"] {
    margin-right: 126px;
}
@media screen and (max-width: 1024px) {
    [data-sub-layout="314933fd-5248-4eed-b7d6-df49f3430d73"] {
        margin-left: 126px !important;
    }
    [data-sub-layout="48e4ad6a-b34b-4edb-9eee-e28526002014"] {
        margin-right: 126px !important;
    }
    [data-sub-layout="aae3a3c2-ca2d-4bf0-8d0f-bb3a96394dc4"] {
        margin-left: 126px !important;
    }
    [data-sub-layout="90e33b19-5bdd-4fdf-9899-165167b6a1be"] {
        margin-left: 126px !important;
    }
    [data-sub-layout="79302ad4-ec36-4298-adbd-8565cbcdc67f"] {
        margin-right: 126px !important;
    }
    [data-sub-layout="5394e07f-a512-4b2c-9590-c8449ec9b9d7"] {
        margin-left: 126px !important;
    }
    [data-sub-layout="3e293e4a-493c-4b6b-80c1-5dff39eef59f"] {
        margin-right: 126px !important;
    }
    [data-sub-layout="372dfd84-ddde-48a9-984b-edf299432d91"] {
        margin-left: 126px !important;
    }
    [data-sub-layout="0cd431c3-0189-4ed0-9395-368706a337cf"] {
        margin-right: 126px !important;
    }
}
@media screen and (max-width: 700px) {
    [data-sub-layout-container="713ac16e-8d07-4c49-aeb8-6b6196034d60"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column;
    }
    [data-sub-layout-container="27967a75-f5a1-48ee-973b-51064f675fd6"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column-reverse;
    }
    [data-sub-layout-container="32511f3b-f86e-486e-9464-910cd6dc07d9"] {
        margin-bottom: 50px;
        flex-wrap: wrap !important;
        flex-direction: column;
    }
    [data-sub-layout-container="a83f4905-45f2-46fc-9966-1f562220006c"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column;
    }
    [data-sub-layout-container="e4f14c48-1e36-46cf-aa0d-0053305bc723"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column-reverse;
    }
    [data-sub-layout-container="07cf3632-6792-4a2b-8226-8d901288f02a"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column;
    }
    [data-sub-layout-container="d1f009b1-0bbf-410e-8806-ae0c09b60dac"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column-reverse;
    }
    [data-sub-layout-container="d08641ef-1fe8-48ae-9efd-b62f842d7455"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column;
    }
    [data-sub-layout-container="edfc0b75-4b37-43cd-9d09-cc68bad9e22a"] {
        margin-top: 50px;
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column-reverse;
    }
    
    [data-sub-layout="314933fd-5248-4eed-b7d6-df49f3430d73"] {
        margin-left: 0 !important;
    }
    [data-sub-layout="48e4ad6a-b34b-4edb-9eee-e28526002014"] {
        margin-right: 0 !important;
    }
    [data-sub-layout="aae3a3c2-ca2d-4bf0-8d0f-bb3a96394dc4"] {
        margin-left: 0 !important;
    }
    [data-sub-layout="314933fd-5248-4eed-b7d6-df49f3430d73"] {
        margin-left: 0 !important;
    }
    [data-sub-layout="48e4ad6a-b34b-4edb-9eee-e28526002014"] {
        margin-right: 0 !important;
    }
    [data-sub-layout="aae3a3c2-ca2d-4bf0-8d0f-bb3a96394dc4"] {
        margin-left: 0 !important;
    }
    [data-sub-layout="90e33b19-5bdd-4fdf-9899-165167b6a1be"] {
        margin-left: 0 !important;
    }
    [data-sub-layout="79302ad4-ec36-4298-adbd-8565cbcdc67f"] {
        margin-right: 0 !important;
    }
    [data-sub-layout="5394e07f-a512-4b2c-9590-c8449ec9b9d7"] {
        margin-left: 0 !important;
    }
    [data-sub-layout="3e293e4a-493c-4b6b-80c1-5dff39eef59f"] {
        margin-right: 0 !important;
    }
    [data-sub-layout="372dfd84-ddde-48a9-984b-edf299432d91"] {
        margin-left: 0 !important;
    }
    [data-sub-layout="0cd431c3-0189-4ed0-9395-368706a337cf"] {
        margin-right: 0 !important;
    }
    [data-sub-layout="b5169845-afa5-487b-80b5-77b5b52d8368"] {
        margin-bottom: 30px;
    }
}
[data-layout-name="3-columns"] a {
    text-decoration: none;

    &:hover {
        color: #323232;
    }
}
.main.category-layout.eleven-seventy.base-layout.category-layout-no-sidevav.sidenav-inactive.shop-by-price-disabled.facetedSearch-disabled article.card.brand-sku-active div.card-sku-brand-section {
    height: 23px;
}
// newsletter form page
.page-contact.newsletterContact {
    .form-row + .form-field {
        display: none;
    }
}

//learn page card hover
.rectangle-out-btnAnimate {
    .main.eleven-seventy.base-layout.content-layout-no-sidevav {
        .page-learn-content {
            .navBar.navBar--sub {
                .navBar-section.account-navigation {
                    .navBar-item {
                        .navBar-item-inner:hover {
                            .icon_right {
                                background-color: #0056A8;
                            }
                            svg {
                                fill: #ffffff;
                            }
                        }
                    }
                }
            }
        }
    }
}


//plp fix
.rectangle-out-btnAnimate {
    .category.main.top-pagination-hidden.grid-default.product-filtering-disabled {
        .grid-list-view.toggle {
            margin-bottom: 20px;
        }
        #product-listing-container {
            .actionBar {
                display: none;
            }
            .listItem-body {
                .button.button--primary {
                    font-size: 22px;
                    max-height: 217.14px;
                    max-width: 100%;
                    font-weight: 700;
                    padding: 0.88889rem 4.27778rem;
                    @media screen and (max-width: 767px) {
                        padding: 0.88889rem 10px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    #product-listing-container .card-sku-brand-section    h2 a span {
        color: #323232;
    }
}

//footer hover
#page-footer {
    .footer-info.six-columns {
        .footer-products {
            h3 a:hover {
                color: #0056A8 !important;
            }
        }
        .footer-learn {
            h3 a:hover {
                color: #0056A8 !important;
            }
        }
        [data-section-type="storeInfo"] {
            h3 a:hover {
                color: #0056A8 !important;
            }
        }
        .footer-info-list li a:hover {
            color: #0056A8 !important;
        }
    }
}

//search.html 
.both-grid-default,#search-results-content{
    margin-top: 40px;
}
#search-results-content{
    ul{
        margin-left: 0;
    }
}
.navBar--sub{
    text-align: left;
    ul.navBar-section.account-navigation
    
    {
        li:first-child{
            margin-left: 0;
        }
    }
}
.search.both-grid-list-views{
    .panel.panel--large{
        display: none;
    }
    #product-listing-container{
        .both-grid-default > ul >ul,.productList.list-only{
            li.product{
                //grid style
                .card-sku-brand-section{
                    h2.card-text.sku {
                        .sku-label,.sku-value{
                            font-size: 16px;
                            font-family: "Larsseit";
                            line-height: 28px;
                        }
                    }
                }
                .card-title a{
                    font-size: 20px;
                    font-family: "Larsseit";
                    line-height: 30px;
                    font-weight: 700;
                }
                span.price{
                    font-size: 22px !important;
                    font-weight: 700;
                    line-height: 18px!important;
                    font-family: "Larsseit";
                }
                .button.button--primary{
                    font-size: 22px;
                    max-height: 217.14px;
                    max-width: 100%;
                    font-weight: 700;
                    padding: 0.88889rem 4.27778rem;
                    @media screen and (max-width: 767px) {
                        padding: 0.88889rem 10px;
                        font-size: 16px;
                    }
                }
                .card-text.add-to-cart-button{
                    a{
                        font-family: "Roboto Condensed";
                        font-weight: 700;
                        font-size: 22px;
                    }
                }
                
            }
           
            
        }
         
    }
}

//quickSearch model
#quickSearch {
    .card-body {
        .sku a {
            color: #323232;
        }
    }
}

//404page

.page404 {
    .oops {
        position: relative;
    }
    .oopsContent {
        text-transform: capitalize;
        font-weight: bolder;
        font-size: 250px;
        font-family: Larsseit;
        color: #EBF8FC;
        height: 100%;
        text-align: center;
        min-height: 280px;
        line-height: 200px;
        position: relative;
    }
    .page-heading {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -49px;
        margin-left: -205px;
        font-weight: bold;
        font-family: Larsseit;
        font-size: 48px;
        line-height: 57px;
    }
    .u-textAlignCenter {
        font-size: 18px;
        font-family: Larsseit;
        line-height: 27px;
    }
    .navBar-item-inner:hover {
        .icon_right {
            background: #0056A8;
            svg {
                fill: #fff !important;
            }
        }
    }
    .account-navigation {
        display: block;
        margin: 0 -12.5px !important;
        font-size: 0;
        text-align: left;
        float: none;
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        li:nth-child(1) {
            width: 25%;
            margin-left: 0;
            display: inline-block;
            vertical-align: top;
            padding: 0 12.5px;
            margin: 0;
            .navBar-item-inner {
                margin: 0;
                margin-bottom: 25px;
                padding: 10px;
                text-transform: none;
                border-radius: 10px;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                a {
                    color: #0056a8;
                    .img_box {
                        position: relative;
                        width: 100%;
                        padding-top: 100%;
                        background-size: cover;
                        margin: 0 auto 20px;
                        background: url(/product_images/uploaded_images/backgound-imsge.png);
                        .image-container {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            border: 1px solid #0456A8;
                            height: 100%;
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
                    }
                    .item-info {
                        display: inline-flex;
                        justify-content: space-between;
                        width: 100%;
                        margin-bottom: 10px;
                        align-items: center;
                        .title {
                            display: flex;
                            align-items: center;
                            text-align: left;
                            width: 150px;
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 22px;
                            min-height: 44px;
                        }
                        .icon_right {
                            width: 36px;
                            height: 36px;
                            display: flex;
                            align-items: center;
                            border-radius: 25px;
                            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                            svg {
                                width: 10px;
                                height: 14px;
                                fill: #0056A8;
                                margin: auto;
                            }
                        }
                    }
                }
            }
        }
        li:nth-child(2) {
            width: 25%;
            margin-left: 0;
            display: inline-block;
            vertical-align: top;
            padding: 0 12.5px;
            margin: 0;
            .navBar-item-inner {
                margin: 0;
                margin-bottom: 25px;
                padding: 10px;
                text-transform: none;
                border-radius: 10px;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                a {
                    color: #0056a8;
                    .img_box {
                        position: relative;
                        width: 100%;
                        padding-top: 100%;
                        background-size: cover;
                        margin: 0 auto 20px;
                        background: url(/product_images/uploaded_images/backgound-imsge.png);
                        .image-container {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            border: 1px solid #0456A8;
                            height: 100%;
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
                    }
                    .item-info {
                        display: inline-flex;
                        justify-content: space-between;
                        width: 100%;
                        margin-bottom: 10px;
                        align-items: center;
                        .title {
                            display: flex;
                            align-items: center;
                            text-align: left;
                            width: 150px;
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 22px;
                            min-height: 44px;
                        }
                        .icon_right {
                            width: 36px;
                            height: 36px;
                            display: flex;
                            align-items: center;
                            border-radius: 25px;
                            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                            svg {
                                width: 10px;
                                height: 14px;
                                fill: #0056A8;
                                margin: auto;
                            }
                        }
                    }
                }
            }
        }
        li:nth-child(3) {
            width: 25%;
            margin-left: 0;
            display: inline-block;
            vertical-align: top;
            padding: 0 12.5px;
            margin: 0;
            .navBar-item-inner {
                margin: 0;
                margin-bottom: 25px;
                padding: 10px;
                text-transform: none;
                border-radius: 10px;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                a {
                    color: #0056a8;
                    .img_box {
                        position: relative;
                        width: 100%;
                        padding-top: 100%;
                        background-size: cover;
                        margin: 0 auto 20px;
                        background: url(/product_images/uploaded_images/backgound-imsge.png);
                        .image-container {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            border: 1px solid #0456A8;
                            height: 100%;
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
                    }
                    .item-info {
                        display: inline-flex;
                        justify-content: space-between;
                        width: 100%;
                        margin-bottom: 10px;
                        align-items: center;
                        .title {
                            display: flex;
                            align-items: center;
                            text-align: left;
                            width: 150px;
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 22px;
                            min-height: 44px;
                        }
                        .icon_right {
                            width: 36px;
                            height: 36px;
                            display: flex;
                            align-items: center;
                            border-radius: 25px;
                            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                            svg {
                                width: 10px;
                                height: 14px;
                                fill: #0056A8;
                                margin: auto;
                            }
                        }
                    }
                }
            }
        }            
    }
}
