.main-nav-container .navPages-container.main-nav.desktop .custom-pages-nav > ul {
    margin-right: 128px;
    > li.nav-icon{
        margin-right: 20px;
        &.addToCart {
            a.navUser-action:hover{
                background: transparent;
                color: transparent !important;
                svg{
                    background-color: transparent;
                }
            }
            .countPill.cart-quantity{
                position: absolute;
                left: 20px;
                top: 30px !important;
                background: #E1251B;
                color: #fff;
            }
        }
        svg{
            width: 24px !important;
            height: 24px !important; 
            vertical-align: middle;
        }
    }
}
.header-container.sticky-header{
    .mobileMenu-user,.mobileMenu-addToCart{
        position: absolute;
        top: 40px;
        svg{
            width: 24px;
            height: 24px;
        }
    }
    .mobileMenu-search{
        right: 160px;
    }
    .mobileMenu-user{
        right: 120px;
    }
    .mobileMenu-addToCart{
        right: 80px;
    }

}