[data-sub-layout-container="713ac16e-8d07-4c49-aeb8-6b6196034d60"] {
    margin-top: 50px;
    margin-bottom: 150px;
    flex-wrap: nowrap !important;
}
[data-sub-layout-container="27967a75-f5a1-48ee-973b-51064f675fd6"] {
    margin-bottom: 150px;
    flex-wrap: nowrap !important;
}
[data-sub-layout-container="32511f3b-f86e-486e-9464-910cd6dc07d9"] {
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-sub-layout-container="a83f4905-45f2-46fc-9966-1f562220006c"] {
    margin-top: 50px;
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-sub-layout-container="e4f14c48-1e36-46cf-aa0d-0053305bc723"] {
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-sub-layout-container="07cf3632-6792-4a2b-8226-8d901288f02a"] {
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-sub-layout-container="d1f009b1-0bbf-410e-8806-ae0c09b60dac"] {
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-sub-layout-container="d08641ef-1fe8-48ae-9efd-b62f842d7455"] {
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-sub-layout-container="edfc0b75-4b37-43cd-9d09-cc68bad9e22a"] {
    margin-top: 50px;
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-sub-layout="314933fd-5248-4eed-b7d6-df49f3430d73"] {
    margin-left: 126px;
}
[data-sub-layout="48e4ad6a-b34b-4edb-9eee-e28526002014"] {
    margin-right: 126px;
}
[data-sub-layout="aae3a3c2-ca2d-4bf0-8d0f-bb3a96394dc4"] {
    margin-left: 126px;
}
[data-sub-layout="90e33b19-5bdd-4fdf-9899-165167b6a1be"] {
    margin-left: 126px;
}
[data-sub-layout="79302ad4-ec36-4298-adbd-8565cbcdc67f"] {
    margin-right: 126px;
}
[data-sub-layout="5394e07f-a512-4b2c-9590-c8449ec9b9d7"] {
    margin-left: 126px;
}
[data-sub-layout="3e293e4a-493c-4b6b-80c1-5dff39eef59f"] {
    margin-right: 126px;
}
[data-sub-layout="372dfd84-ddde-48a9-984b-edf299432d91"] {
    margin-left: 126px;
}
[data-sub-layout="0cd431c3-0189-4ed0-9395-368706a337cf"] {
    margin-right: 126px;
}
@media screen and (max-width: 1024px) {
    [data-sub-layout="314933fd-5248-4eed-b7d6-df49f3430d73"] {
        margin-left: 126px !important;
    }
    [data-sub-layout="48e4ad6a-b34b-4edb-9eee-e28526002014"] {
        margin-right: 126px !important;
    }
    [data-sub-layout="aae3a3c2-ca2d-4bf0-8d0f-bb3a96394dc4"] {
        margin-left: 126px !important;
    }
    [data-sub-layout="90e33b19-5bdd-4fdf-9899-165167b6a1be"] {
        margin-left: 126px !important;
    }
    [data-sub-layout="79302ad4-ec36-4298-adbd-8565cbcdc67f"] {
        margin-right: 126px !important;
    }
    [data-sub-layout="5394e07f-a512-4b2c-9590-c8449ec9b9d7"] {
        margin-left: 126px !important;
    }
    [data-sub-layout="3e293e4a-493c-4b6b-80c1-5dff39eef59f"] {
        margin-right: 126px !important;
    }
    [data-sub-layout="372dfd84-ddde-48a9-984b-edf299432d91"] {
        margin-left: 126px !important;
    }
    [data-sub-layout="0cd431c3-0189-4ed0-9395-368706a337cf"] {
        margin-right: 126px !important;
    }
}
@media screen and (max-width: 700px) {
    [data-sub-layout-container="713ac16e-8d07-4c49-aeb8-6b6196034d60"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column;
    }
    [data-sub-layout-container="27967a75-f5a1-48ee-973b-51064f675fd6"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column-reverse;
    }
    [data-sub-layout-container="32511f3b-f86e-486e-9464-910cd6dc07d9"] {
        margin-bottom: 50px;
        flex-wrap: wrap !important;
        flex-direction: column;
    }
    [data-sub-layout-container="a83f4905-45f2-46fc-9966-1f562220006c"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column;
    }
    [data-sub-layout-container="e4f14c48-1e36-46cf-aa0d-0053305bc723"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column-reverse;
    }
    [data-sub-layout-container="07cf3632-6792-4a2b-8226-8d901288f02a"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column;
    }
    [data-sub-layout-container="d1f009b1-0bbf-410e-8806-ae0c09b60dac"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column-reverse;
    }
    [data-sub-layout-container="d08641ef-1fe8-48ae-9efd-b62f842d7455"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column;
    }
    [data-sub-layout-container="edfc0b75-4b37-43cd-9d09-cc68bad9e22a"] {
        margin-top: 50px;
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column-reverse;
    }
    
    [data-sub-layout="314933fd-5248-4eed-b7d6-df49f3430d73"] {
        margin-left: 0 !important;
    }
    [data-sub-layout="48e4ad6a-b34b-4edb-9eee-e28526002014"] {
        margin-right: 0 !important;
    }
    [data-sub-layout="aae3a3c2-ca2d-4bf0-8d0f-bb3a96394dc4"] {
        margin-left: 0 !important;
    }
    [data-sub-layout="314933fd-5248-4eed-b7d6-df49f3430d73"] {
        margin-left: 0 !important;
    }
    [data-sub-layout="48e4ad6a-b34b-4edb-9eee-e28526002014"] {
        margin-right: 0 !important;
    }
    [data-sub-layout="aae3a3c2-ca2d-4bf0-8d0f-bb3a96394dc4"] {
        margin-left: 0 !important;
    }
    [data-sub-layout="90e33b19-5bdd-4fdf-9899-165167b6a1be"] {
        margin-left: 0 !important;
    }
    [data-sub-layout="79302ad4-ec36-4298-adbd-8565cbcdc67f"] {
        margin-right: 0 !important;
    }
    [data-sub-layout="5394e07f-a512-4b2c-9590-c8449ec9b9d7"] {
        margin-left: 0 !important;
    }
    [data-sub-layout="3e293e4a-493c-4b6b-80c1-5dff39eef59f"] {
        margin-right: 0 !important;
    }
    [data-sub-layout="372dfd84-ddde-48a9-984b-edf299432d91"] {
        margin-left: 0 !important;
    }
    [data-sub-layout="0cd431c3-0189-4ed0-9395-368706a337cf"] {
        margin-right: 0 !important;
    }
}
[data-layout-name="3-columns"] a {
    text-decoration: none;
}