
// p2
// header
.scroll-fixed {
    .header .header-logo.header-logo--left {
        width: 110px!important;
        height: 72px!important;
        box-shadow: none;
        top: 14px;
        @media only screen and (max-width:1222px) {
            width: 95px!important;
            height: 72px!important;
        }
        @media only screen and (max-width:850px) {
            width: 80px!important;
            height: 70px!important;
        }
    }
    
    .header .header-logo.header-logo--left .header-logo-image-container img {
        width: 99px;
        @media only screen and (max-width:1222px) {
            width: 95px;
        }
        @media only screen and (max-width:850px) {
            width: 80px;
        }
    }
}
.main-nav-container .navPages-container.main-nav.desktop .custom-pages-nav > ul {
    // margin-right: 128px;
    > li.nav-icon{
        margin-right: 20px;
        &.addToCart {
            a.navUser-action:hover{
                background: transparent;
                color: transparent !important;
                svg{
                    background-color: transparent;
                }
            }
            .countPill.cart-quantity{
                position: absolute;
                left: 20px;
                top: 30px !important;
                background: #E1251B;
                color: #fff;
            }
        }
        svg{
            width: 24px !important;
            height: 24px !important; 
            vertical-align: middle;
        }
    }
}
.header-container.sticky-header{
    .mobileMenu-user,.mobileMenu-addToCart{
        position: absolute;
        top: 40px;
        svg{
            width: 24px;
            height: 24px;
        }
    }
    .mobileMenu-search{
        right: 160px;
    }
    .mobileMenu-user{
        right: 120px;
    }
    .mobileMenu-addToCart{
        right: 80px;
    }

}
// form-increment
.form-increment {
    font-size: 0;
    margin: 0;
    .button {
        width: 50px;
        height: 50px;
        border-color: #707070;
        padding: 10.5px;
        .icon {
            display: unset;
            height: auto;
            width: auto;
        }
    }
    .form-input--incrementTotal {
        width: 80px;
        height: 50px;
        border-color: #707070;
    }
}

/* homepage start */
[data-layout-name$="-desktop"] {
    @media screen and (max-width : 767px) {
        display: none !important;
    }
}
[data-layout-name$="-mobile"] {
    @media screen and (min-width : 768px) {
        display: none !important;
    }
}
[data-layout-name="second-banner"] {
    margin-bottom: 154px;
    @media screen and (max-width: 767px) {
        top: -75px;
        margin-bottom: 140px;
    }
    [data-sub-layout]:nth-of-type(1) {
        @media screen and (max-width: 767px) {
            order: 2;
            margin-top: 25px;
        }
    }
    [id^="sd-image-"] {
        max-width: 1095px!important;
        max-height: 990px!important;
        -ms-flex-align: start!important;
        align-items: flex-start!important;
        margin-right: 3rem!important;
    }
}

[data-layout-name="image-text-banner"],
[data-layout-name="text-image-banner"]{
    >[data-sub-layout] {
        &:nth-of-type(2) {
            z-index: 1;
        }
        >[data-widget-id] {
            color: #333;
            &:nth-of-type(1) [id^="sd-image-"] {
                @media screen and (max-width : 767px) {
                    display: none !important;
                }
            }
            &:nth-of-type(2) [id^="sd-image-"] {
                @media screen and (min-width : 768px) {
                    display: none !important;
                }
            }
        }
    }
}
[data-layout-name="image-text-banner"] {
    @media screen and (max-width : 767px) {
        margin-top: -100px;
        [data-sub-layout] {
            &:nth-of-type(1) {
                order: 2!important;
            }
            &:nth-of-type(2) {
                order: 3!important;
            }
            &:nth-of-type(3) {
                order: 1!important;
            }
        }
    }
}
[data-layout-name="text-image-banner"] {
    @media screen and (max-width : 767px) {
        margin-top: -122px;
        margin-bottom: 122px;
        [data-sub-layout] {
            &:nth-of-type(2) {
                order: 3!important;
            }
            &:nth-of-type(3) {
                order: 2!important;
            }
        }
    }
}
/* homepage end */

[data-layout-name="inde-clean"] {
    margin-top: 50px;
    margin-bottom: 150px;
    flex-wrap: nowrap !important;
}
[data-layout-name="inde-air"] {
    margin-bottom: 150px;
    flex-wrap: nowrap !important;
}
[data-layout-name="inde-reduce"] {
    // margin-bottom: 150px;
    margin-bottom: 50px;
    flex-wrap: nowrap !important;
}
[data-layout-name="inde-clean-energy"] {
    margin-top: 150px;
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-layout-name="pur-improved"] {
    margin-top: 50px;
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-layout-name="pur-breathing"] {
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-layout-name="pur-staying"] {
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-layout-name="pur-night"] {
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-layout-name="pur-smelling"] {
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-layout-name="pur-text"] {
    margin-top: 150px;
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-layout-name="inde-clean"] div[data-sub-layout]:last-child {
    margin-left: 126px;
}
[data-layout-name="inde-air"] div[data-sub-layout]:nth-last-child(2) {
    margin-right: 126px;
}
[data-layout-name="inde-reduce"] div[data-sub-layout]:last-child {
    margin-left: 126px;
}
[data-layout-name="inde-clean-energy"] div[data-sub-layout]:nth-last-child(2) {
    margin-right: 126px;
}
[data-layout-name="pur-improved"] div[data-sub-layout]:last-child {
    margin-left: 126px;
}
[data-layout-name="pur-breathing"] div[data-sub-layout]:nth-last-child(2) {
    margin-right: 126px;
}
[data-layout-name="pur-staying"] div[data-sub-layout]:last-child {
    margin-left: 126px;
}
[data-layout-name="pur-night"] div[data-sub-layout]:nth-last-child(2) {
    margin-right: 126px;
}
[data-layout-name="pur-smelling"] div[data-sub-layout]:last-child {
    margin-left: 126px;
}
[data-layout-name="pur-text"] div[data-sub-layout]:nth-last-child(2) {
    margin-right: 126px;
}
@media screen and (max-width: 1024px) {
    [data-layout-name="inde-clean"] div[data-sub-layout]:last-child {
        margin-left: 126px !important;
    }
    [data-layout-name="inde-air"] div[data-sub-layout]:nth-last-child(2) {
        margin-right: 126px !important;
    }
    [data-layout-name="inde-reduce"] div[data-sub-layout]:last-child {
        margin-left: 126px !important;
    }
    [data-layout-name="inde-clean-energy"] div[data-sub-layout]:nth-last-child(2) {
        margin-right: 126px !important;
    }
    [data-layout-name="pur-improved"] div[data-sub-layout]:last-child {
        margin-left: 126px !important;
    }
    [data-layout-name="pur-breathing"] div[data-sub-layout]:nth-last-child(2) {
        margin-right: 126px !important;
    }
    [data-layout-name="pur-staying"] div[data-sub-layout]:last-child {
        margin-left: 126px !important;
    }
    [data-layout-name="pur-night"] div[data-sub-layout]:nth-last-child(2) {
        margin-right: 126px !important;
    }
    [data-layout-name="pur-smelling"] div[data-sub-layout]:last-child {
        margin-left: 126px !important;
    }
    [data-layout-name="pur-text"] div[data-sub-layout]:nth-last-child(2) {
        margin-right: 126px !important;
    }
}
@media screen and (max-width: 700px) {
    [data-layout-name="inde-clean"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column;
    }
    [data-layout-name="inde-air"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column-reverse;
    }
    [data-layout-name="inde-reduce"] {
        margin-bottom: 50px;
        flex-wrap: wrap !important;
        flex-direction: column;
    }
    [data-layout-name="inde-clean-energy"] {
        margin-top: 50px;
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column-reverse;
    }
    [data-layout-name="pur-improved"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column;
    }
    [data-layout-name="pur-breathing"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column-reverse;
    }
    [data-layout-name="pur-staying"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column;
    }
    [data-layout-name="pur-night"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column-reverse;
    }
    [data-layout-name="pur-smelling"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column;
    }
    [data-layout-name="pur-text"] {
        margin-top: 50px;
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column-reverse;
    }
    
    [data-layout-name="inde-clean"] div[data-sub-layout]:last-child {
        margin-left: 0px !important;
    }
    [data-layout-name="inde-air"] div[data-sub-layout]:nth-last-child(2) {
        margin-right: 0px !important;
    }
    [data-layout-name="inde-reduce"] div[data-sub-layout]:last-child {
        margin-left: 0px !important;
    }
    [data-layout-name="inde-clean-energy"] div[data-sub-layout]:nth-last-child(2) {
        margin-right: 0px !important;
    }
    [data-layout-name="pur-improved"] div[data-sub-layout]:last-child {
        margin-left: 0 !important;
    }
    [data-layout-name="pur-breathing"] div[data-sub-layout]:nth-last-child(2) {
        margin-right: 0 !important;
    }
    [data-layout-name="pur-staying"] div[data-sub-layout]:last-child {
        margin-left: 0 !important;
    }
    [data-layout-name="pur-night"] div[data-sub-layout]:nth-last-child(2) {
        margin-right: 0 !important;
    }
    [data-layout-name="pur-smelling"] div[data-sub-layout]:last-child {
        margin-left: 0 !important;
    }
    [data-layout-name="pur-text"] div[data-sub-layout]:nth-last-child(2) {
        margin-left: 0 !important;
    }
    [data-sub-layout="3e293e4a-493c-4b6b-80c1-5dff39eef59f"] {
        margin-right: 0 !important;
    }
    [data-sub-layout="372dfd84-ddde-48a9-984b-edf299432d91"] {
        margin-left: 0 !important;
    }
    [data-sub-layout="0cd431c3-0189-4ed0-9395-368706a337cf"] {
        margin-right: 0 !important;
    }
    [data-sub-layout="b5169845-afa5-487b-80b5-77b5b52d8368"] {
        margin-bottom: 30px;
    }
}

// cart page
.cart-layout.cart-layout-no-sidevav {
    .page.cart-page {
        .main-cart {
            .cart {
                margin-bottom: 10px;
            }
            .cart-additionalCheckoutButtons {
                text-align: right;
                float: none;
            }
            .page-heading {
                font-size: 48px;
                margin-bottom: 50px;
                span {
                    font-size: 48px;
                    font-weight: 300;
                }
                @media screen and (max-width : 450px) {
                    span {
                        font-size: 36px;
                    }
                }
            }
            [data-cart-content] {
                .cart-header {
                    .cart-header-quantity {
                        text-align: left;
                    }
                    th {
                        padding-bottom: 10px;
                    }
                }
                .cart-list {
                    border-top:1px solid rgba(0,90,122,0.2);
                    .cart-item {
                        border-bottom:1px solid rgba(0,90,122,0.2);
                        padding-top: 20px;
                        padding-bottom: 20px;
                        .cart-item-figure {
                            height: 115px !important;
                        }
                        @media screen and (max-width : 800px) {
                            td.cart-item-block.cart-item-figure {
                                text-align: center;
                            }
                        }
                    }
                    .cart-item-block.cart-item-figure {
                        img {
                            max-width: 75px;
                            max-height: 75px;
                        }
                    }
                    .cart-item-quantity {
                        position: relative;
                        width: 18%;
                        text-align: left;
                        .form-increment {
                            min-width: 180px;
                        }
                    }
                    .cart-item-title {
                        .cart-item-name {
                            a {
                                color: #323232;
                                font-size: 18px;
                                font-weight: 400;
                            }
                        }
                    }
                    .cart-item-info:nth-last-child(1) {
                        .cart-item-value  {
                            font-weight: 400;
                        }
                        .cart-remove.icon {
                            height: 26px;
                            width: 26px;
                            svg {
                                fill: #323232;
                            }
                        }
                    }
                }
                @media screen and (max-width : 800px) {
                    .cart-list {
                        .cart-item {
                            .cart-item-title {
                                float: none;
                            }
                            // .cart-item-info {
                            //     float: none;
                            // }
                            .cart-item-quantity {
                                position: unset;
                                .form-increment {
                                    position: unset;
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                }
                @media screen and (max-width : 550px) {
                    .cart-list {
                        .cart-item {
                            .cart-item-title {
                                float: left;
                            }
                            // .cart-item-info {
                            //     float: none;
                            // }
                            .cart-item-quantity {
                                position: unset;
                                .form-increment {
                                    position: unset;
                                    margin: 0;
                                    margin-bottom: 15px;
                                }
                            }
                        }
                    }
                }
            }
            .cart-totals {
                [aria-expanded="true"] {
                    border-bottom: none;
                }
                .shipping-quotes {
                    .estimator-form-row {
                        #shipping-quote-freeshipping-0 {
                            margin-top: 8.5px;
                        }
                    }
                }
                .cart-total .form-select {
                    height: 40px;
                    background-position: right 0.27778rem top 0.5rem;
                    padding: 0 0.5rem;
                }
                .cart-total .form-input {
                    height: 40px;
                }
                .cart-total-label, .cart-total-value {
                    padding: 20px 0;
                }
                @media screen and (max-width : 800px) {
                    .cart-total-label, .cart-total-value {
                        padding-left: 5px;
                    }
                }
                .cart-total + .cart-total {
                    border-top:1px solid rgba(0,90,122,0.2);
                }
                .cart-total {
                    .cart-total-value {
                        .shipping-estimate-show {
                            color: #0456A8;
                        }
                        .coupon-code-add {
                            color: #0456A8;
                        }
                    }
                    .cart-total-grandTotal {
                        span {
                            font-size: 26px;
                        }
                    }
                    .cart-total-label {
                        text-transform: capitalize;
                    }
                }
            }
            .cart-actions {
                .button--primary {
                    display: flex;
                    align-items: center;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    i {
                        margin-right: 10px;
                        position: relative;
                        bottom: 1px;
                    }
                    span {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

body.main.eleven-seventy footer.footer .container .footer-info-col .footer-info-heading.footer-payment-icons-heading {
    margin-top: 10px;
    margin-bottom: 10px;
}
.button--chat {
    padding-left: 15px;
    padding-right: 15px;
    &[disabled] {
        pointer-events: none;
    }
}
//preview cart
#menu {
    .navPages {
        .custom-pages-nav {
            .addToCart {
                #cart-preview-dropdown {
                    .previewCartAction {
                        padding: 15px 5px;
                        .button {
                            font-size: 14px;
                        }
                    }
                    .previewCartList {
                        .previewCartItem-content {
                            text-align: left;
                            padding-top: 5px;
                            padding-bottom: 5px;
                            .card-text   {
                               a,span {
                                   font-size: 14px;
                                   font-weight: 400;
                                   color: #323232!important;
                               }
                            }
                            .previewCartItem-price {
                                font-size: 18px;
                                color: #323232!important;
                                font-weight: 700;
                            }
                        }
                        .card-title-two-lines {
                            a {
                                font-size: 16px;
                                line-height: unset;
                                text-transform: none;
                            }
                        }
                    }
                    .previewCartCheckout-additionalCheckoutButtons {
                        .braintree-paypal-button {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

//pdp-button
.product-layout-with-sidevav {
        .recommended-position {
            #product-page-no-sidenav {
                .form {
                    .wishlist-btn {
                        @media screen and (min-width: 1063px) {
                            padding-bottom: 0.88889rem ;
                        }
                        @media screen and (min-width: 1024px) {
                            padding-bottom: 9px ;
                        }
                    }
                }
            }
       }
}

//recently-notifyButton
.main.eleven-seventy.base-layout.not-internet-explorer.chrome {
    .page-content.no-sidenav {
        .card-text.add-to-cart-button {
            a {
                font-size: 18px !important;
            }
        }
    }
}

//search-notifyButton
.main.eleven-seventy.search-layout.not-internet-explorer.chrome {
    .page-content {
        .card-text.add-to-cart-button {
            a {
                font-size: 18px !important;
            }
        }
    }
}
// quick view
#previewModal {
    .productView {
        padding-top: 0;
    }
    .productView-details {
        
        @media (min-width: 1025px) {
            float: left;
        }
    }
    .previewCartCheckout {
        .button {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

// cart page
div#add-to-cart-wrapper.qty-box-visible{
    width: 100%;
    min-width: 200px;
    .form-field.form-field--increments{
        display: flex;
        align-items: center;

        .form-label--alternate {
            margin-bottom: 0;
        }
    }
    .form-action{
        margin-top: 1.5rem !important;
        max-width: 270px;
    }

}
// klaviyo-form
form.klaviyo-form {
    padding: 0!important;
    div {
        min-height: auto!important;
        padding: 0 !important;
    }
    input {
        padding-left: 20px!important;
        padding-right: 20px!important;
        border-color: #707070!important;
        color: #323232!important;
        border-radius: 5px 0 0 5px!important;
        font-family: "Larsseit",sans-serif !important;

        &::placeholder {
            font-size: 16px!important;
            color: #323232!important;
            font-family: "Larsseit",sans-serif !important;
        }
    }
    button {
        background-color: #0456a8!important;
        font-weight: 700!important;
        text-transform: uppercase!important;
        border-radius: 0 5px 5px 0!important;
        padding-left: 40px!important;
        padding-right: 40px!important;
        text-transform: uppercase!important;
        font-family: "Roboto Condensed" !important;

        &:hover {
            background-color: #026cd1!important;
        }
    }
}

.footer {
    form.klaviyo-form {
        button {
            font-size: 22px!important;
        }
    }
}

.hp-newsletterSubscription {
    div.klaviyo-form {
        width: 100%;
        padding: 0 42px;
        @media only screen and (max-width: 767px) {
            padding: 0 30px;
        }
    }
    form.klaviyo-form {
        input {
            font-size: 24px!important;
            height: 68px!important;
            
            @media only screen and (max-width: 767px) {
                font-size: 16px!important;
                height: 50px!important;
                margin-bottom: 1.5em;
                border-radius: 5px!important;
            }
            &::placeholder {
                font-size: 24px!important;
                @media only screen and (max-width: 767px) {
                    font-size: 16px!important;
                }
            }
        }
        button {
            border-radius: 0 5px 5px 0!important;
            width: 200px;
            height: auto!important;
            background-color: #0456a8!important;
            font-size: 22px!important;
            height: 100%!important;
            padding-left: 0!important;
            padding-right: 0!important;
            @media only screen and (max-width: 767px) {
                height: 50px!important;
                border-radius: 5px!important;
                width: 100%;
                margin-bottom: 2rem;
            }
            &:hover {
                background-color: #026cd1!important;
            }
        }
        @media only screen and (max-width: 767px) {
            [data-testid="form-row"] {
                display: block!important;
            }
        }
    }
}
.modal {
    div.klaviyo-form {
        margin-left: 42px;
        max-width: 708px;
        height: 70px;
        border-radius: 5px;
    }
    form.klaviyo-form {
        input {
            font-size: 24px!important;
            height: 68px!important;
            &::placeholder {
                font-size: 24px!important;
            }
        }
        button {
            border-radius: 0 5px 5px 0!important;
            width: 200px;
            height: auto!important;
            background-color: #0456a8!important;
            font-size: 16px!important;
            height: 100%!important;
            padding-left: 0!important;
            padding-right: 0!important;
            &:hover {
                background-color: #026cd1!important;
            }
        }
    }
}