
// p2
/* homepage start */
[data-layout-name$="-desktop"] {
    @media screen and (max-width : 767px) {
        display: none !important;
    }
}
[data-layout-name$="-mobile"] {
    @media screen and (min-width : 768px) {
        display: none !important;
    }
}
[data-layout-name="second-banner"] {
    margin-bottom: 154px;
    @media screen and (max-width: 767px) {
        top: -75px;
        margin-bottom: 140px;
    }
    [data-sub-layout]:nth-of-type(1) {
        @media screen and (max-width: 767px) {
            order: 2;
            margin-top: 25px;
        }
    }
    [id^="sd-image-"] {
        max-width: 1095px!important;
        max-height: 990px!important;
        -ms-flex-align: start!important;
        align-items: flex-start!important;
        margin-right: 3rem!important;
    }
}

[data-layout-name="image-text-banner"],
[data-layout-name="text-image-banner"]{
    >[data-sub-layout] {
        &:nth-of-type(2) {
            z-index: 1;
        }
        >[data-widget-id] {
            color: #333;
            &:nth-of-type(1) [id^="sd-image-"] {
                @media screen and (max-width : 767px) {
                    display: none !important;
                }
            }
            &:nth-of-type(2) [id^="sd-image-"] {
                @media screen and (min-width : 768px) {
                    display: none !important;
                }
            }
        }
    }
}
[data-layout-name="image-text-banner"] {
    @media screen and (max-width : 767px) {
        margin-top: -100px;
        [data-sub-layout] {
            &:nth-of-type(1) {
                order: 2!important;
            }
            &:nth-of-type(2) {
                order: 3!important;
            }
            &:nth-of-type(3) {
                order: 1!important;
            }
        }
    }
}
[data-layout-name="text-image-banner"] {
    @media screen and (max-width : 767px) {
        margin-top: -122px;
        margin-bottom: 122px;
        [data-sub-layout] {
            &:nth-of-type(2) {
                order: 3!important;
            }
            &:nth-of-type(3) {
                order: 2!important;
            }
        }
    }
}
/* homepage end */

[data-layout-name="inde-clean"] {
    margin-top: 50px;
    margin-bottom: 150px;
    flex-wrap: nowrap !important;
}
[data-layout-name="inde-air"] {
    margin-bottom: 150px;
    flex-wrap: nowrap !important;
}
[data-layout-name="inde-reduce"] {
    // margin-bottom: 150px;
    margin-bottom: 50px;
    flex-wrap: nowrap !important;
}
[data-layout-name="inde-clean-energy"] {
    margin-top: 150px;
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-layout-name="pur-improved"] {
    margin-top: 50px;
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-layout-name="pur-breathing"] {
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-layout-name="pur-staying"] {
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-layout-name="pur-night"] {
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-layout-name="pur-smelling"] {
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-layout-name="pur-text"] {
    margin-top: 150px;
    margin-bottom: 100px;
    flex-wrap: nowrap !important;
}
[data-layout-name="inde-clean"] div[data-sub-layout]:last-child {
    margin-left: 126px;
}
[data-layout-name="inde-air"] div[data-sub-layout]:nth-last-child(2) {
    margin-right: 126px;
}
[data-layout-name="inde-reduce"] div[data-sub-layout]:last-child {
    margin-left: 126px;
}
[data-layout-name="inde-clean-energy"] div[data-sub-layout]:nth-last-child(2) {
    margin-right: 126px;
}
[data-layout-name="pur-improved"] div[data-sub-layout]:last-child {
    margin-left: 126px;
}
[data-layout-name="pur-breathing"] div[data-sub-layout]:nth-last-child(2) {
    margin-right: 126px;
}
[data-layout-name="pur-staying"] div[data-sub-layout]:last-child {
    margin-left: 126px;
}
[data-layout-name="pur-night"] div[data-sub-layout]:nth-last-child(2) {
    margin-right: 126px;
}
[data-layout-name="pur-smelling"] div[data-sub-layout]:last-child {
    margin-left: 126px;
}
[data-layout-name="pur-text"] div[data-sub-layout]:nth-last-child(2) {
    margin-right: 126px;
}
@media screen and (max-width: 1024px) {
    [data-layout-name="inde-clean"] div[data-sub-layout]:last-child {
        margin-left: 126px !important;
    }
    [data-layout-name="inde-air"] div[data-sub-layout]:nth-last-child(2) {
        margin-right: 126px !important;
    }
    [data-layout-name="inde-reduce"] div[data-sub-layout]:last-child {
        margin-left: 126px !important;
    }
    [data-layout-name="inde-clean-energy"] div[data-sub-layout]:nth-last-child(2) {
        margin-right: 126px !important;
    }
    [data-layout-name="pur-improved"] div[data-sub-layout]:last-child {
        margin-left: 126px !important;
    }
    [data-layout-name="pur-breathing"] div[data-sub-layout]:nth-last-child(2) {
        margin-right: 126px !important;
    }
    [data-layout-name="pur-staying"] div[data-sub-layout]:last-child {
        margin-left: 126px !important;
    }
    [data-layout-name="pur-night"] div[data-sub-layout]:nth-last-child(2) {
        margin-right: 126px !important;
    }
    [data-layout-name="pur-smelling"] div[data-sub-layout]:last-child {
        margin-left: 126px !important;
    }
    [data-layout-name="pur-text"] div[data-sub-layout]:nth-last-child(2) {
        margin-right: 126px !important;
    }
}
@media screen and (max-width: 700px) {
    [data-layout-name="inde-clean"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column;
    }
    [data-layout-name="inde-air"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column-reverse;
    }
    [data-layout-name="inde-reduce"] {
        margin-bottom: 50px;
        flex-wrap: wrap !important;
        flex-direction: column;
    }
    [data-layout-name="inde-clean-energy"] {
        margin-top: 50px;
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column-reverse;
    }
    [data-layout-name="pur-improved"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column;
    }
    [data-layout-name="pur-breathing"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column-reverse;
    }
    [data-layout-name="pur-staying"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column;
    }
    [data-layout-name="pur-night"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column-reverse;
    }
    [data-layout-name="pur-smelling"] {
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column;
    }
    [data-layout-name="pur-text"] {
        margin-top: 50px;
        margin-bottom: 100px;
        flex-wrap: wrap !important;
        flex-direction: column-reverse;
    }
    
    [data-layout-name="inde-clean"] div[data-sub-layout]:last-child {
        margin-left: 0px !important;
    }
    [data-layout-name="inde-air"] div[data-sub-layout]:nth-last-child(2) {
        margin-right: 0px !important;
    }
    [data-layout-name="inde-reduce"] div[data-sub-layout]:last-child {
        margin-left: 0px !important;
    }
    [data-layout-name="inde-clean-energy"] div[data-sub-layout]:nth-last-child(2) {
        margin-right: 0px !important;
    }
    [data-layout-name="pur-improved"] div[data-sub-layout]:last-child {
        margin-left: 0 !important;
    }
    [data-layout-name="pur-breathing"] div[data-sub-layout]:nth-last-child(2) {
        margin-right: 0 !important;
    }
    [data-layout-name="pur-staying"] div[data-sub-layout]:last-child {
        margin-left: 0 !important;
    }
    [data-layout-name="pur-night"] div[data-sub-layout]:nth-last-child(2) {
        margin-right: 0 !important;
    }
    [data-layout-name="pur-smelling"] div[data-sub-layout]:last-child {
        margin-left: 0 !important;
    }
    [data-layout-name="pur-text"] div[data-sub-layout]:nth-last-child(2) {
        margin-left: 0 !important;
    }
    [data-sub-layout="3e293e4a-493c-4b6b-80c1-5dff39eef59f"] {
        margin-right: 0 !important;
    }
    [data-sub-layout="372dfd84-ddde-48a9-984b-edf299432d91"] {
        margin-left: 0 !important;
    }
    [data-sub-layout="0cd431c3-0189-4ed0-9395-368706a337cf"] {
        margin-right: 0 !important;
    }
    [data-sub-layout="b5169845-afa5-487b-80b5-77b5b52d8368"] {
        margin-bottom: 30px;
    }
}

// cart page
.cart-layout.cart-layout-no-sidevav {
    .page.cart-page {
        .main-cart {
            .cart {
                margin-bottom: 10px;
            }
            .cart-additionalCheckoutButtons {
                text-align: right;
                float: none;
            }
            .page-heading {
                font-size: 48px;
                margin-bottom: 50px;
                span {
                    font-size: 48px;
                    font-weight: 300;
                }
            }
            [data-cart-content] {
                .cart-header {
                    .cart-header-quantity {
                        text-align: left;
                    }
                    th {
                        padding-bottom: 10px;
                    }
                }
                .cart-list {
                    border-top:1px solid rgba(0,90,122,0.2);
                    .cart-item {
                        border-bottom:1px solid rgba(0,90,122,0.2);
                    }
                    .cart-item-quantity {
                        position: relative;
                        width: 18%;
                        .form-increment {
                            position: absolute;
                            left: 0;
                            top: 50%;
                            margin-top: -25px;
                            min-width: 180px;
                            .form-increment {
                                margin: 0;
                            }
                            .button {
                                width: 25%;
                                max-width: 50px;
                                height: 50px;
                                border-color: #707070;
                                .icon {
                                    display: unset;
                                    height: auto;
                                    width: auto;
                                }
                            }
                            .cart-item-qty-input {
                                width: 42%;
                                max-width: 80px;
                                height: 50px;
                                border-color: #707070;
                            }
                        }
                        .form-increment::after {
                            content: '';
                            display: table;
                            clear: both;
                        }
                        @media screen and (max-width : 1024px) {
                            .form-increment .button {
                                width: 21%;
                            }
                            .form-increment .cart-item-qty-input {
                                width: 30%;
                            }
                        }
                        @media screen and (max-width : 900px) {
                            .form-increment .button {
                                width: 15%;
                            }
                            .form-increment .cart-item-qty-input {
                                width: 21%;
                            }
                        }
                    }
                    .cart-item-title {
                        .cart-item-name {
                            a {
                                color: #323232;
                                font-size: 18px;
                                font-weight: 400;
                            }
                        }
                    }
                    .cart-item-info:nth-last-child(1) {
                        .cart-item-value  {
                            font-weight: 400;
                        }
                        .cart-remove.icon {
                            height: 26px;
                            width: 26px;
                            svg {
                                fill: #323232;
                            }
                        }
                    }
                }
                @media screen and (max-width : 800px) {
                    .cart-list {
                        .cart-item {
                            .cart-item-title {
                                float: none;
                            }
                            .cart-item-info {
                                float: none;
                            }
                            .cart-item-quantity {
                                position: unset;
                                .form-increment {
                                    position: unset;
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                }
                @media screen and (max-width : 550px) {
                    .cart-list {
                        .cart-item {
                            .cart-item-title {
                                float: left;
                            }
                            .cart-item-info {
                                float: none;
                            }
                            .cart-item-quantity {
                                position: unset;
                                .form-increment {
                                    position: unset;
                                    margin-top: 0;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
            .cart-totals {
                .cart-total-label, .cart-total-value {
                    padding: 20px 0;
                }
                @media screen and (max-width : 800px) {
                    .cart-total-label, .cart-total-value {
                        padding-left: 5px;
                    }
                }
                .cart-total + .cart-total {
                    border-top:1px solid rgba(0,90,122,0.2);
                }
                .cart-total {
                    .cart-total-value {
                        .shipping-estimate-show {
                            color: #0456A8;
                        }
                        .coupon-code-add {
                            color: #0456A8;
                        }
                    }
                    .cart-total-grandTotal {
                        span {
                            font-size: 26px;
                        }
                    }
                    .cart-total-label {
                        text-transform: capitalize;
                    }
                }
            }
            .cart-actions {
                .button--primary {
                    .checkout-lock {
                        position: relative;
                        right: 9px;
                        bottom: 3.5px;
                    }
                    span {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}