.product-page-layout.no-sidenav.right-sideBar.product-layout-with-sidevav {
    .productView {
        padding-top: 50px;
        @media screen and (min-width: 800px) {
            padding-top: 100px;
        }
    }
    section.productView-details {
        display: block;
        padding: 0;
    }
    .sidebar .card-figcaption-body {
        display: none !important;
    }
    .overview .product-detail-features {
        display: none !important;
    }
    .overview .product-detail-videos {
        display: none !important;
    }
    .features  .product-detail-overview {
        display: none !important;
    }
    .features  .product-detail-videos {
        display: none !important;
    }
    .videos .product-detail-overview {
        display: none !important;
    }
    .videos .product-detail-features {
        display: none !important;
    }
    .carousel-active-bttom {
        display: none;
    }
    .product.main.left.no-sidenav {
        width: 100% !important;
    }
    .notify-button {
        margin-top: 40px;
        display: none !important;
        a {
            color: #fff;
            font-size: 17px;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            width: 160px;
            height: 53px;
            padding-left: 20px;
            padding-right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .productView-details.product-options {
        // display: none !important;
    }
    .shortDesciption {
        font-size: 18px;
        font-weight: normal;
    }
    .sidebar article.card.brand-sku-active .card-sku-brand-section {
        display: none;
    }
    p.card-text[data-test-info-type="productRating"] {
        display: none;
    }
    .sidebar .card-body .card-text {
        display: none;
    }
    .carousel-vertical .slick-dots {
        display: none !important;
    }
    .productView-details .price-section.current-price {
        display: none;
    }
    .productView-details .productView-rating {
        display: none;
    }
    .breadcrumb a {
       font-size: 14px;
    }
    .breadcrumb:not(:last-child) {
        font-weight: bold;
    }
    .similar-products-by-views {
        display: none !important;
    }
    .product.main.left div#product-images-container {
        width: 35%;
        float: none;
        padding-right: 24px;
    }
    .slider-nav .slick-slide >div {
        font-size: 0;
    }
    .slider-nav .slick-slide.slick-current.slick-active >div {
        border: 2px solid #0456A8;
        border-radius: 5px !important;
    }
    .productView-details {
        float: none;
        width: 35%;
    }
    div#carousel-active {
        width: 100%;
        @media screen and (min-width : 800px) {
            padding-left: 24px;
            width: 30%;
        }
    }
    .sidebar.right {
        float: none;
        width: 100%;
        padding: 0;
        border-top: none;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
    }
    .product-top-container {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .productView-product .productView-details{
        width: 100%;
    }
    .main-image-container .productImageSlider .slick-list.draggable {
        border: none !important;
    }
    .productView-title {
        font-size: 36px;
        color: #0056A8;
        margin-bottom: 15px;
        line-height: 1.2;
    }
    .productView-details dt {
        font-size: 18px;
    }
    dd.productView-info-value {
        font-size: 18px;
    }
    .related.products-container .sidebar.right h2.container-header {
        text-align: center;
        font-size: 18px;
        border: none;
        padding-top: 30px;
    }
    .sidebar .card-title a {
        font-size: 18px;
        color: #0056A8;
        font-weight: 500;
    }
    .sidebar.right .carousel-vertical {
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;

        @media screen and (max-width:1024px) {
            padding-bottom: 30px;
        }
    }
    .sidebar.right .card-body {
        padding: 10px 0 0;
    }
    .sidebar.right .carousel-vertical li.product article.card a {
        max-height: none;
        max-width: none;
        text-align: center;
        line-height: 1.22;

    }
    .sidebar article.card-title-two-lines h2.card-title {
        height: auto;
    }
    .tab {
        background-color: #EBF8FC;
        border: none;
        border-radius: 10px 10px 0 0;
        width: 180px;
        margin-right: 5px;
    }
    .tab a {
        font-weight: normal;
        font-size: 18px;
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .tab.is-active a {
        background-color: #0456A8;
        color: white;
        font-weight: bold;

        &.tab-title:hover {
            color: white!important;
        }
    }
    .tab.is-active a.tab-title {
        border: none;
        padding-top: 13px;
        padding-bottom: 13px;
        border-radius: 10px 10px 0 0;

    }
    [tabindex]:not([tabindex="-1"]):focus {
        border: none!important;
        border-radius: 10px 10px 0 0!important;
        outline: none!important;
    }
    .tabs-contents p{
        font-size: 18px;
    }
    .tabs-contents a{
        font-size: 18px;
    }
    .tabs-contents b{
        font-size: 18px;
    }
    .toggle {
        border: none;
    }
    .custom_fieldsName {
        font-size: 18px;
        font-weight: bold;
    }
    .custom_fieldsValue {
        font-size: 18px;
    }
    .product.main .tabs-contents {
        border-top: none;
        padding: 30px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
        border-radius: 0 10px 10px 10px;
    }
    .tab-content {
        padding: 0;

        >div {
            p:last-child {
                margin-bottom: 0;
            }
        }
    }
    .toggle-title {
        font-size: 18px;
        font-weight: bold;
    }
    h3.tab-content-title {
        display: none !important;
    }
    
    @media screen and (min-width:1025px) {
        .customFields-container {
            column-count: 2;
            column-gap: 228px;
            padding: 0 72px;
            line-height: 40px;
    
            .moblie-content {
                display: flex;
                justify-content: space-between;
                margin-bottom: 12px;
            }
            .custom_fieldsName {
                padding-right: 24px;
            }
            .custom_fieldsValue {
                text-align: right;
            }
        }
    }
    @media screen and (max-width:1024px) {
        h3.tab-content-title {
            display: block !important;
        }
        .tab-content {
            display: block;
        }
        .product-top-container {
            flex-direction: column;
        }
        .carousel-active-top{
            #carousel-active {
                display: none;
            }
        }
        .product.main.left div#product-images-container {
            width: 100%;
            padding-right: 0;
        }
        .productView-details {
            width: 100%;
        }
        .tabs {
            display: none;
        }
        .product-detail-features {
            display: none;
        }
        .product-detail-overview {
            display: none;
        }
        .customFields-container {
            display: none;
        }
        .product-detail-videos {
            display: none;
        }
        .custom-fieldTab1 {
            display: none !important;
        }
        .reviews {
            display: none !important;
        }
        .tabs-contents {
            border: none;
        }
        .tab-content {
            padding-bottom: 0;
        }
        h3.tab-content-title {
            position: relative;
            border-bottom: none;
            background-color: #EBF8FC;
            font-size: 18px;
            height: 60px;
            line-height: 60px;
            padding-left: 36px;
            color: #0456A8;
            text-transform: none;
        }
        h3.tab-content-title::after {
            content: '';
            position: absolute;
            right: 36px;
            border-bottom:2px solid #0056A8;
            border-right:2px solid #0056A8;
            width: 10px;
            height: 10px;
            transform: rotate(45deg);
            top:50%;
            margin-top: -8px;
        }
        h3.tab-content-title::before {
            content: '';
            position: absolute;
            right: 36px;
            border-bottom:2px solid #0056A8;
            border-right:2px solid #0056A8;
            width: 10px;
            height: 10px;
            transform: rotate(-135deg);
            top:50%;
            margin-top: -7px;
            display: none;
        }
        .carousel-active-top {
            height: 1px;
            opacity: 0%;
        }
        .carousel-active-bttom {
            a.button.button--small.card-figcaption-button {
                width: 30% !important;
                margin-left: 50%;
                right: 15%;
            }
            .sidebar.right .productCarousel-slide.slick-slide.slick-active a {
                max-width: unset;
            }
            margin-top: 70px;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
            width: 100%;
            display: block;
            overflow: hidden;
            border-radius: 10px;
            .sidebar.right {
                box-shadow: unset;
            }
            #carousel-active {
                display: block;
                width: 100%;
                padding-left: 0;
            }
            a {
                line-height: 40px;
                text-align: center;
                font-size: 18px !important;
                font-weight: 500;
            }
        }
        .product.main .tabs-contents {
            padding: 0;
            .tab-content-title {
                margin-left: -36px;
                margin-right: -36px;
            }
        }
        .fixAngle::after {
            transform: rotate(-135deg) !important;
            margin-top: -3px !important;
        }
        #product-images-container .slick-prev::before {
            background-color: #0056A8 !important;
            height: 15px !important;
            width: 15px !important;
        }
        .slick-next, .slick-prev {
            height: 30px !important;
            width: 30px !important;
        }

        #product-images-container .slick-next::before {
            background-color: #0056A8 !important;
            height: 15px !important;
            width: 15px !important;
        }
        #product-images-container .main-image-container button.slick-prev {
            background-color: #fff;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            border-radius: 50% !important;
        }
        #product-images-container .main-image-container button.slick-next {
            background-color: #fff;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            border-radius: 50% !important;
        }
        .product.main.left .recommended-position .slider-nav button.slick-prev {
            display: none;
        }
        .product.main.left .recommended-position .slider-nav button.slick-next {
            display: none;
        }
        .tab-content {
            padding-top: 0;
        }
        .product.main .tabs-contents {
            box-shadow: unset;
        }
        .moblie-content {
            padding-top: 10px;
            padding-bottom: 20px;
        }
        .product-detail-overview {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .product-detail-features {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .product-detail-videos {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        // .product.main.left .slider-nav.slick-initialized.slick-slider .slick-list.draggable {
        //     padding: 0 15px!important;
        // }
        .product.main.left .slider-nav .slick-slide {
            padding: 0 5px;
        }
    }
}

@media screen and (min-width:1025px) {
    .product.main.left .main-image-container button.slick-prev {
        padding-left: 6px;
        padding-right: 6px;
    }
    .product.main.left .main-image-container button.slick-next {
        padding-left: 6px;
        padding-right: 6px;
    }
}
.add-to-cart-button {
    .button {
        padding-left: 10px;
        padding-right: 10px;
    }
}