{{#partial "head"}}
    {{{ checkout.checkout_head }}}
    {{{ stylesheet '/assets/css/optimized-checkout.css' }}}
    {{ getFontsCollection }}

    <script type="text/javascript">
        window.language = {{{langJson 'optimized_checkout'}}};
    </script>

    {{{head.scripts}}}
{{/partial}}

{{#partial "page"}}

    <header class="checkoutHeader optimizedCheckout-header">
        <div class="header-top-banner" id="headerTopBanner"></div>
        <div class="checkoutHeader-content">
            <h1 class="is-srOnly">{{lang 'checkout.title'}}</h1>
            <div class="checkoutHeader-content-inner">
                <h2 class="checkoutHeader-heading">
                    <a class="checkoutHeader-link" href="{{urls.home}}">
                        {{#if checkout.header_image}}
                            <img alt="{{settings.store_logo.title}}" class="checkoutHeader-logo" id="logoImage" src="{{getImage settings.store_logo.image 'logo_size'}}"/>
                        {{ else }}
                            <span class="header-logo-text">{{settings.store_logo.title}}</span>
                        {{/if}}
                    </a>
                </h2>
                {{#if settings.phone_number}}
                    <div class="checkoutHeader-contact">
                        <span>Need Help?</span> <span>Call us <a href="tel:{{settings.phone_number}}">{{settings.phone_number}}</a></span>
                    </div>
                {{/if}}
            </div>
        </div>
    </header>

    {{{ checkout.checkout_content }}}

<!-- header logo scroll -->
<script>
    window.onscroll = function() {
        const scrollTop = window.scrollY;
        if(scrollTop > 0) {
            document.body.classList.add('scroll-fixed');
        } else {
            document.body.classList.remove('scroll-fixed');
        }
    }
</script>

 <!-- rename Free Shipping -->
<script>
    function renameFreeShipping() {
        var shippingOptionDesc = document.querySelectorAll('.shippingOption-desc');
        if (shippingOptionDesc.length) {
            shippingOptionDesc.forEach(function(desc) {
                const text = desc.innerText;
                if (text === 'Free Shipping') {
                    desc.innerText = 'Free Shipping (UPS® Ground)';
                }
            });
        }
    }
    setInterval(renameFreeShipping, 500);
</script>

<script>
    function addHeaderBanner() {
        var bannerHtml = window.headerBannerHtml;
        if (bannerHtml) {
            var headerTopBanner = document.getElementById("headerTopBanner");
            var shippingIcon = "{{cdn 'img/checkout/shipping.svg'}}";
            var closeIcon = "{{cdn 'img/checkout/close.svg'}}";
            headerTopBanner.innerHTML = '<div class="header-top-banner-inner"><img class="icon icon-shipping" src="' + shippingIcon + '"></img>' + bannerHtml + '<span class="header-banner-close" id="headerTopBannerClose"><img class="icon" src="' + closeIcon + '"></img></span></div>';
            document.body.classList.add('has-promo-banner');

            var headerTopBannerClose = document.getElementById("headerTopBannerClose");
            headerTopBannerClose.addEventListener('click', function(event) {
                document.body.classList.remove('has-promo-banner');
            });
        }
    }
    window.onload = function() {
        addHeaderBanner();
    }
</script>
<!-- Address: set default value of Country to "US" -->
<script>
    (function () {
        if (typeof window.CustomEvent === "function") return false;

        function CustomEvent(event, params) {
            params = params || {
                bubbles: false,
                cancelable: false,
                detail: undefined,
            };
            var evt = document.createEvent("CustomEvent");
            evt.initCustomEvent(
                event,
                params.bubbles,
                params.cancelable,
                params.detail
            );
            return evt;
        }

        CustomEvent.prototype = window.Event.prototype;

        window.CustomEvent = CustomEvent;
    })();
    function setValue() {
        var countrySelect = document.getElementById("countryCodeInput");
        if (!countrySelect) return;

        var nativeSelectValueSetter = Object.getOwnPropertyDescriptor(
            window.HTMLSelectElement.prototype,
            "value"
        ).set;
        nativeSelectValueSetter.call(countrySelect, 'US');
        if (typeof window.CustomEvent === "function") {
            var evt = new CustomEvent("change", { bubbles: true });
        } else {
            var evt = new CustomEvent("change", { bubbles: true });
        }
        countrySelect.dispatchEvent(evt);
    }
    setInterval(setValue, 1000);
</script>

<!-- prevent user to enter PO BOX in Address Line 1 & 2 -->
<script>
    (function () {
        function hasPoString(value) {
            var regex = /(\b[P|p](OST|ost)*\.*\s*[O|o|0](ffice|FFICE)*\.*)?\s*[B|b][O|o|0]?[X|x]\s*#*\s*[0-9]+\b/g;
            var matches = value.match(regex);
            return matches && matches.length > 0;
        }

        function watchPo() {
            // address form
            const addressLines = document.querySelectorAll('[name="shippingAddress.address1"], [name="shippingAddress.address2"]');
            if (addressLines.length) {
                addressLines.forEach(function(line) {
                    var haspo = hasPoString(line.value);
                    if (haspo) {
                        // setInputValue(target, newValue);
                        line.parentNode.classList.add('form-field--haspo');
                        line.parentNode.setAttribute('has-po', '');
                    } else {
                        line.parentNode.classList.remove('form-field--haspo');
                        line.parentNode.removeAttribute('has-po');
                    }
                });
            }

            // shipping step dropdown
            const dropdownAddressLines = document.querySelectorAll('#shippingAddresses .address-line-1, #shippingAddresses .address-line-2');
            if (dropdownAddressLines.length) {
                dropdownAddressLines.forEach(function(dropdownLine) {
                    var haspo = hasPoString(dropdownLine.innerText);
                    if (haspo) {
                        dropdownLine.setAttribute('has-po', '');
                    } else {
                        dropdownLine.removeAttribute('has-po');
                    }
                });
            }

            // shipping step preview
            const previewAddressLines = document.querySelectorAll('.checkout-step--shipping .stepHeader .address-line-1, .checkout-step--shipping .stepHeader .address-line-2');
            if (previewAddressLines.length) {
                previewAddressLines.forEach(function(previewLine) {
                    var haspo = hasPoString(previewLine.innerText);
                    if (haspo) {
                        previewLine.setAttribute('has-po', '');
                    } else {
                        previewLine.removeAttribute('has-po');
                    }
                });
            }

            // add po attribute
            if (document.querySelector('[has-po]')) {
                document.body.classList.add('has-po');
            } else {
                document.body.classList.remove('has-po');
            }
        }
        setInterval(watchPo, 500);
    })();
</script>

{{/partial}}

{{> layout/checkout}}

