---
products:
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
---

{{#partial "head"}}

{{{ checkout.checkout_head }}}
{{{stylesheet '/assets/css/theme.css'}}}
{{{stylesheet '/assets/css/nextgen.css'}}}
{{{ stylesheet '/assets/css/optimized-checkout.css' }}}
{{{stylesheet '/assets/css/custom.css'}}}


{{ getFontsCollection }}

<script type="text/javascript">
    window.language = {{{langJson 'optimized_checkout'}}};
</script>

{{{head.scripts}}}

{{/partial}}

{{inject "orderId" checkout.order.id}}
{{#partial "page"}}
    <svg data-src="{{cdn 'img/icon-sprite.svg'}}" class="icons-svg-sprite"></svg>

    {{> components/common/header }}
    <div class="body content">
        <ul class="breadcrumbs">
            <li class="breadcrumb">
                <a href="/" class="breadcrumb-label">Home</a>
            </li>
            <li class="breadcrumb is-active">
                <span class="breadcrumb-label">ORDER CONFIRMATION</span>
            </li>
        </ul>
    </div>

    {{{ checkout.order_confirmation_content }}}
    {{> components/common/footer }}

    <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
    <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>

    <script>
        // Exported in app.js
        window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
    </script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.min.css">

    {{{ footer.scripts }}}
{{/partial}}

{{> layout/checkout}}
