<section class="carousel-vertical {{#if theme_settings.vertical_related_columns '===' 3}}three-slides{{/if}}{{#if theme_settings.vertical_related_columns '===' 4}}four-slides{{/if}}{{#if theme_settings.vertical_related_columns '===' 5}}five-slides{{/if}}{{#if theme_settings.vertical_related_columns '===' 6}}six-slides{{/if}}"
    data-list-name="{{list}}"
    data-slick='{
        "dots": true,
        "infinite": false,
        "mobileFirst": false,
        "slidesToShow": {{theme_settings.vertical_related_columns}},
        "slidesToScroll": {{theme_settings.vertical_related_columns}},
        "vertical": true,
        "verticalSwiping": true,
        "responsive": [
        {
          "breakpoint": 981,
          "settings": {
            "slidesToShow": {{theme_settings.vertical_related_columns}},
            "slidesToScroll": {{theme_settings.vertical_related_columns}}
          }
        },
        {
          "breakpoint": 801,
          "settings": {
            "vertical": false,
            "verticalSwiping": false,
            "slidesToShow": 3,
            "slidesToScroll": 3,
            "dots": false
          }
        },
        {
          "breakpoint": 551,
          "settings": {
            "vertical": false,
            "verticalSwiping": false,
            "slidesToShow": 2,
            "slidesToScroll": 2,
            "dots": false
          }
        }
        ]
    }'>
      {{#each products}}
        <li class="productCarousel-slide product">
          {{> components/products/card settings=../settings show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
        </li>
      {{/each}}
</section>
