{{#if carousel}}
  <div class="slider hero{{#if theme_settings.slider_width '!==' 'full-width'}} in-container{{/if}} {{#if theme_settings.slider_width '===' 'full-width'}}full-width{{/if}}{{#if theme_settings.slide_content_background '===' 'without-bg'}} slide-content-no-bg{{/if}}">
    {{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows}}
    <div class="clear"></div>
</div>
{{/if}}

<div class="home-below-hero">
  {{{region name="home_below_carousel"}}}

  <!-- see products carousel -->
  <div class="full-width">
    {{{region name="home_below_top_banner"}}}
    <div class="main full home no-sidenav">{{{region name="home_below_featured_products"}}}</div>
    {{{region name="home_below_top_products"}}}
    {{{region name="home_below_new_products"}}}
    <div class="main full home no-sidenav">
      <div class="hp-newsletterSubscription" data-section-type="newsletterSubscription">
          <!-- <h1 class="newsletterSubscription-h1"><div class="title-1">Join our mailing List</div> Stay up to date with product availability</h1> -->
          <!-- render by header.js -->
          <h1 class="newsletterSubscription-h1"></h1>
          {{> components/common/subscription-form}}
      </div>
    {{{region name="home_below_bottom_banner"}}}
    {{{region name="home_below_menu"}}}
    </div>
  </div>

<div class="main full home no-sidenav">

  {{#each shipping_messages}}
      {{> components/common/alert/alert-info message}}
  {{/each}}

    <div class="main">

        {{#if banners.top}}
            <div class="banners top" data-banner-location="top">
              {{#each (limit banners.top_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
                  <div data-event-type="promotion-click">
                    {{{this.content}}}
                  </div>
                </div>
              {{/each}}
            </div>
        {{/if}}
{{!--
         {{> components/custom/home-featured-banners}}

      <div id="showcase-products" class="featured-products-section">
        {{#if products.featured}}
            {{> components/products/featured products=products.featured columns=theme_settings.homepage_productGrid_column_count}}
        {{/if}}

        {{#if products.top_sellers}}
            {{> components/products/top products=products.top_sellers columns=theme_settings.homepage_productGrid_column_count}}
        {{/if}}

        {{#if products.new}}
            {{> components/products/new products=products.new columns=theme_settings.homepage_productGrid_column_count}}
        {{/if}}
        <div class="clear"></div>
      </div>
--}}
      <!-- NEWS/BLOG FEED -->
      {{#if theme_settings.latest_news_visibility '===' true}}
        {{#if settings.blog_enabled}}
          {{#if blog}}
            {{> components/custom/blog-feed}}
            {{{region name="home_below_blog_feed"}}}
          {{/if}}
       {{/if}}
     {{/if}}

      {{#if banners.bottom}}
        {{#if settings.data_tag_enabled}}
          <div class="banners bottom" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
              <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                <div data-event-type="promotion-click">
                  {{{this.content}}}
                 </div>
               </div>
             {{/each}}
           </div>
           {{else}}
             <div class="banners bottom" data-banner-location="bottom">
               <div class="banner">
                 {{{limit banners.bottom 1}}}
               </div>
             </div>
           {{/if}}
       {{/if}}

      </div> <!-- right-main -->

    <div class="clear"></div>

</div> <!-- main full home -->
</div>
