<div class="product-schema" itemscope itemtype="http://schema.org/Product">
  <div id="product-page-no-sidenav">
  {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

  {{#each product.shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}
    <div class="product-view-pc"></div>
    {{> components/products/product-view-list schema=true  }}
    </div>
    {{> components/products/tabs}}
    
    {{{region name="product_below_content--global"}}}
    {{{region name="product_below_content"}}}

    <div class="clear"></div>
</div>

<div class="similar-products-by-views">
    {{#if product.similar_by_views}}
        <h2 class="container-header">{{theme_settings.similarProductsHeader}}</h2>
            {{> components/products/similar products=product.similar_by_views columns=theme_settings.related_products_column_count list="Customers Also Viewed"}}
    {{/if}}
     <div class="clear"></div>
</div>

<div class="carousel-active-bttom">
<div id="carousel-active" class="related products-container carousel-active">
    <div class="sidebar right">
       {{#if product.related_products}}
          <h2 class="container-header">{{theme_settings.relatedProductsHeader}}</h2>
          <ul class="productGrid productGrid--maxCol{{ columns }} related" data-product-type="related" {{#if settings.data_tag_enabled}} data-list-name="Related Products" {{/if}}>
          {{> components/products/carousel-vertical-list products=product.related_products columns=theme_settings.related_products_column_count list="Related Products"}}
          </ul>
      {{/if}}
    </div>
    </div>
</div>
</div>
</div>
</div>


