// =============================================================================
// FOOTER (CSS)
// =============================================================================


// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
//
// -----------------------------------------------------------------------------

.footer {
    background-color: $footer-background;
    border-top: container("border");
    padding: spacing("double") 0;
}

.footer-info {
    @include grid-row($behavior: nest);
    font-size: 0; // 1
}

.footer-info-col {
    @include grid-column(12);
    color: stencilColor("color-textSecondary");
    display: inline-block;
    float: none;
    font-size: fontSize("base"); // 2
    margin-bottom: spacing("double");
    text-align: center;
    vertical-align: top;

    @include breakpoint("small") {
        text-align: left;
        width: width("6/12");
    }

    @include breakpoint("medium") {
        width: width("4/12");
    }

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.footer-info-col--small {
    @include breakpoint("medium") {
        width: width("2/12");
    }
}

.footer-info-col--social {
    width: 100%;
}

.footer-info-col--left {
    @include breakpoint("small") {
        padding: 0;
    }
}

.footer-info-col--right {
    @include breakpoint("small") {
        left: 50%;
        position: inherit;
    }

    @include breakpoint("medium") {
        left: 0;
        padding: 0;
        text-align: right;
    }
}


// Content
// -----------------------------------------------------------------------------

.footer-info-heading {
    color: $footer-heading-fontColor;
    font-size: fontSize("base");
    text-transform: none!important;
    a {
        color: #119EDD !important;
        text-decoration: none;
    }
}

.footer-info-list {
    list-style: none;
    margin-left: 0;

    a {
        color: stencilColor("color-textSecondary");
        text-decoration: none;

        // scss-lint:disable NestingDepth
        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
        // scss-lint:enable NestingDepth
    }
}

.footer-copyright {
    text-align: center;

    @include breakpoint("small") {
        text-align: left;
    }

    > .powered-by {
        color: stencilColor("color-textSecondary");
        font-size: fontSize("tiny");
        margin: 0;
    }

    a {
        color: stencilColor("color-textSecondary");
        text-decoration: none;

        // scss-lint:disable NestingDepth
        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
        // scss-lint:enable NestingDepth
    }
}

.footer-payment-icons {
    height: remCalc(40);
    margin-top: spacing("single");

    @include breakpoint("medium") {
        margin-top: spacing("double");
    }

    .footer-payment-icon {
        height: 100%;
        margin: spacing("quarter");
        vertical-align: middle;
        width: remCalc(50);
    }

    svg {
        fill: stencilColor("icon-color");
    }
}

.footer-geotrust-ssl-seal {
    @include breakpoint("small") {
        bottom: 0;
        position: absolute;
        right: 16px;
    }

    table {
        margin: auto;
    }
}


//the custom
.footer-info.six-columns{
    margin: 0 120px;
    padding-bottom: 64px;
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr 3fr;
    &:after,&:before{
        display: none;
    }
}

.footer-infomations{
    background: #EBF8FC;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    .infomation{
        display: flex;
        align-items: center;
        img{
            width: 150px;
            margin-right: 30px;
        }
        span{
            width: 180px;
            margin-right: 48px;
            font-size: remCalc(22px);
            font-family: "Larsseit";
            font-weight: normal;
        }
    }
}
body.main.eleven-seventy footer.footer{
    background: #fff;
   
    .container{
        margin-bottom: 0;
        max-width: max-content !important;
        .footer-info-col{
            .footer-info-heading{
                // color: #119EDD !important;
                font-size: remCalc(18px);
                font-family: "Larsseit";
                font-weight: bold;
                margin-bottom: 20px;
            }
            .footer-info-list li,.footer-info-list a,.regular address, .contact-item{
                color: #3e3f3f !important;
                font-size: remCalc(18px);
                font-family: "Larsseit"!important;
                line-height: 48px;
                margin: 0;
            }
        }
    }
}
section.footer-info.six-columns article.footer-info-col.footer-info-col--small {
    width: auto !important;
    .blog.regular,h3.footer-info-heading{
        max-width: 180px;
    }
}
section.footer-info.six-columns article.footer-info-col.footer-info-col--small.footer-learn {
    .blog.regular,h3.footer-info-heading{
        max-width: 280px;
    }
}
.social_newsletter.footer-info-col{
    width: 100%;
    margin-bottom: 0;
    .social-media{
        h3{
            display: none;
        }
        .socialLinks.socialLinks--alt{
            margin-bottom: 37px;
            .socialLinks-item{
                margin-right: 0!important;
                padding: 0!important;
                a {
                    width: 46px;
                    height: 46px;
                    svg{
                        border-radius: 25px;
                    }
                    
                }

                &+.socialLinks-item {
                    margin-left: 40px;
                }
            }
        }
        
    }
    .content.newsletter{
        h3.footer-info-heading{
            font-size: remCalc(22px);
            font-family: "Larsseit";
            font-weight: bold;
            span.lowercase{
                display: block;
                text-transform: lowercase;
                font-size: remCalc(22px);
                color: #0056A8;
                
            }
        }
        form.form {
            margin-bottom: 0;
            .form-fieldset .form-field {
                margin-bottom: 0;
                .form-prefixPostfix {
                input{
                    margin: 0;
                    height: 50px !important;
                }
                input#nl_email{
                    text-align: left;
                    border-radius:  5px 0 0 5px  !important;
                    border-right-color: #fff ;
                    padding-left: 20px;
                    padding-right: 20px;
                }
                input.button.button--primary.form-prefixPostfix-button--postfix{
                    padding: 0 40px;
                    border: 1px solid #707070;
                    border-radius: 0px 5px 5px 0px !important;
                    // background: #0456A8;
                    font-size: 22px;
                }
                }
            }
        }
    }
   
}

.social_newsletter.footer-info-col .content.newsletter h3.footer-info-heading {
    font-size: 22px !important;
    margin-bottom: 10px !important;
}

.above-footer-creditsBar {
    border-top: 1px solid rgba(0, 90, 122, 0.20);
}
body.main.eleven-seventy .footer-bottom .content.copyright {
    padding-top: 20px!important;
    @media screen and (min-width: 800px) {
        padding-top: 40px!important;
    }
}
footer.footer .footer-bottom{
    background-color: #fff;
    border: none;
    text-align: center;
    color: #323232;
    font-size: remCalc(14px);
    font-family: "Larsseit";
    .content.copyright{
        padding: 40px 0;
        font-size: 14px;
        line-height: 24px;
    }
    ul {
        
        li{
            color: #323232 !important;
            text-decoration: underline;
            display: inline;
            
            a {
                font-size: 14px;
                color: #323232;
            }

            +li {
                margin-left: 23px;
            }
        }
    }
}
footer.footer .container{
    @media screen and (max-width:1222px) {
        display: none;
    }
}
.footer-container-mobile{
    display: none;
    @media screen and (max-width:1222px) {
        display: block;
    }
    div.content {
        display: none;
    }
    div.content.newsletter{
        display: block;
    }
    ul.accordion{
        border: none;
        
    }
    li.accordion-navigation {
        border: none;
        border-bottom: 1px solid rgba(0, 90, 122, 0.20);
        margin: 0;

        &.is-open {
            >a {
                i {
                    transform: rotate(180deg);
                }
            }
            > .content{
                display: block;
            }
        }
        >a{
            position: relative;
            background: #fff;
            padding: 20px 36px;
            color: #119EDD;
            font-size: remCalc(18px);
            font-family: "Larsseit";
            font-weight: bold;
            // padding: 0;
            &:hover{
                background: #fff;
            }
            i{
                position: absolute;
                right: 0;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 27px 36px;
                float: right;
                svg{
                    fill:#119EDD;
                }
            }
        }
        > .content{
            display: none;
            padding-left:72px;
            
            >ul >li > a, >ul > li,address{
                font-size: remCalc(18px);
                font-family: "Larsseit";
                // font-weight: bold;
                color: #3e3f3f !important;
            }
          
          
        }
    }
    .social_newsletter.footer-info-col .content.newsletter form.form .form-fieldset .form-field .form-prefixPostfix input#nl_email,.social_newsletter.footer-info-col .content.newsletter form.form .form-fieldset .form-field .form-prefixPostfix input.button.button--primary.form-prefixPostfix-button--postfix{
        border-radius: 5px !important;
        border-right-color: #707070;
        margin-bottom: 15px;
    }
  
    .footer-info-col.social_newsletter{
        padding: 0 36px;
        .content.newsletter  h3.footer-info-heading{
            color:#119EDD ;
            font-size: remCalc(22px);
            font-family: "Larsseit";
           
        }
        .form-prefixPostfix.wrap{
            input{
                margin-bottom: 15px;
            }
        }
    }
}

#body.eleven-seventy .global-region.screen-width.above-footer.custom_footer{
    background-color: #EBF8FC;
    // padding: 0 120px;
    .global-region.body-width{
        // max-width: none;
    }
}

.teconsent-container {
    text-align: center;
}

[data-layout-name="3-columns"] {
    display: none!important;
    @include breakpoint("medium") {
        display: flex!important;
    }
    > [data-sub-layout] {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        div[id^="sd-image-"] {
            background-size: 150px;
        }
        p {
            text-align: left;
            width: 180px;
            margin-left: 20px;
        }
    }
}
[data-layout-name="3-columns-mobile"] {
    @include breakpoint("medium") {
        display: none!important;
    }
    [id^="bc-carousel-container-"] {
        margin-bottom: 0;
        [id^="bc-carousel-"] {
            [data-test-id^="carousel-slide-"] {
                >div {
                    align-items: flex-end;
                    min-height: 356px;

                    &:after {
                        background-size: 140px !important;
                        background-position: top 50px center;
                    }
                }

            }
            [data-test-id="carousel-slide-0"] {
                [data-test-id="carousel-title"] {
                    &:after {
                        content: "1/3";
                    }
                }
            }
            [data-test-id="carousel-slide-1"] {
                [data-test-id="carousel-title"] {
                    &:after {
                        content: "2/3";
                    }
                }
            }
            [data-test-id="carousel-slide-2"] {
                [data-test-id="carousel-title"] {
                    &:after {
                        content: "3/3";
                    }
                }
            }
            [data-test-id="carousel-title"] {
                position: relative;
                max-width: 180px;
                min-height: 60px;
                display: flex;
                align-items: center;

                &:after {
                    position: absolute;
                    display: block;
                    width: 100%;
                    top: -20px;
                    font-size: 14px;
                    text-align: center;
                }
            }

        }
        >div:nth-child(2) {
            display: block!important;
            .css-mwwowe {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);

                svg {
                    fill: #0056A8;
                    stroke: #0056A8;
                    width: 8px;
                    height: 13px;
                }
            }
            .bc-carousel__arrow--left {
                left: 18px;
            }
            .bc-carousel__arrow--right {
                right: 18px;
            }
        }
        [data-test-id="carousel-bullets"] {
            display: none!important;
        }
    }
}
