// =============================================================================
// FOOTER (CSS)
// =============================================================================


// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
//
// -----------------------------------------------------------------------------

.footer {
    background-color: $footer-background;
    border-top: container("border");
    padding: spacing("double") 0;
}

.footer-info {
    @include grid-row($behavior: nest);
    font-size: 0; // 1
}

.footer-info-col {
    @include grid-column(12);
    color: stencilColor("color-textSecondary");
    display: inline-block;
    float: none;
    font-size: fontSize("base"); // 2
    margin-bottom: spacing("double");
    text-align: center;
    vertical-align: top;

    @include breakpoint("small") {
        text-align: left;
        width: width("6/12");
    }

    @include breakpoint("medium") {
        width: width("4/12");
    }

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.footer-info-col--small {
    @include breakpoint("medium") {
        width: width("2/12");
    }
}

.footer-info-col--social {
    width: 100%;
}

.footer-info-col--left {
    @include breakpoint("small") {
        padding: 0;
    }
}

.footer-info-col--right {
    @include breakpoint("small") {
        left: 50%;
        position: inherit;
    }

    @include breakpoint("medium") {
        left: 0;
        padding: 0;
        text-align: right;
    }
}


// Content
// -----------------------------------------------------------------------------

.footer-info-heading {
    color: $footer-heading-fontColor;
    font-size: fontSize("base");
    text-transform: inherit;
}

.footer-info-list {
    list-style: none;
    margin-left: 0;

    a {
        color: stencilColor("color-textSecondary");
        text-decoration: none;

        // scss-lint:disable NestingDepth
        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
        // scss-lint:enable NestingDepth
    }
}

.footer-copyright {
    text-align: center;

    @include breakpoint("small") {
        text-align: left;
    }

    > .powered-by {
        color: stencilColor("color-textSecondary");
        font-size: fontSize("tiny");
        margin: 0;
    }

    a {
        color: stencilColor("color-textSecondary");
        text-decoration: none;

        // scss-lint:disable NestingDepth
        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
        // scss-lint:enable NestingDepth
    }
}

.footer-payment-icons {
    height: remCalc(40);
    margin-top: spacing("single");

    @include breakpoint("medium") {
        margin-top: spacing("double");
    }

    .footer-payment-icon {
        height: 100%;
        margin: spacing("quarter");
        vertical-align: middle;
        width: remCalc(50);
    }

    svg {
        fill: stencilColor("icon-color");
    }
}

.footer-geotrust-ssl-seal {
    @include breakpoint("small") {
        bottom: 0;
        position: absolute;
        right: 16px;
    }

    table {
        margin: auto;
    }
}


//the custom
.footer-info.six-columns{
    margin: 0 120px;
    padding-bottom: 64px;
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr 3fr;
    &:after,&:before{
        display: none;
    }
}

.footer-infomations{
    background: #EBF8FC;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    .infomation{
        display: flex;
        align-items: center;
        img{
            width: 150px;
            margin-right: 30px;
        }
        span{
            width: 180px;
            margin-right: 48px;
            font-size: remCalc(22px);
            font-family: "Larsseit";
            font-weight: normal;
        }
    }
}
body.main.eleven-seventy footer.footer{
    background: #fff;
   
    .container{
        margin-bottom: 0;
        max-width: max-content !important;
        .footer-info-col{
            .footer-info-heading{
                // color: #119EDD !important;
                font-size: remCalc(18px);
                font-family: "Larsseit";
                font-weight: bold;
                margin-bottom: 29px;
            }
            .footer-info-list li,.footer-info-list a,.regular address{
                color: #3e3f3f !important;
                font-size: remCalc(18px);
            }
        }
    }
}
section.footer-info.six-columns article.footer-info-col.footer-info-col--small {
    width: auto !important;
    .blog.regular,h3.footer-info-heading{
        max-width: 180px;
    }
}
section.footer-info.six-columns article.footer-info-col.footer-info-col--small.footer-learn {
    .blog.regular,h3.footer-info-heading{
        max-width: 280px;
    }
}
.social_newsletter.footer-info-col{
    width: 100%;
    margin-bottom: 0;
    .social-media{
        h3{
            display: none;
        }
        .socialLinks.socialLinks--alt{
            margin-bottom: 37px;
            .socialLinks-item{
                a{
                    width: 46px;
                    height: 46px;
                    margin-right: 40px;
                    svg{
                        border-radius: 25px;
                    }
                    
                }
            }
        }
        
    }
    .content.newsletter{
        h3.footer-info-heading{
            font-size: remCalc(22px);
            font-family: "Larsseit";
            font-weight: bold;
            span.lowercase{
                display: block;
                text-transform: lowercase;
                font-size: remCalc(22px);
                color: #0056A8;
                
            }
        }
        form.form {
            margin-bottom: 0;
            .form-fieldset .form-field {
                margin-bottom: 0;
                .form-prefixPostfix {
                input{
                    margin: 0;
                    height: 50px !important;
                }
                input#nl_email{
                    text-align: left;
                    border-radius:  5px 0 0 5px  !important;
                    border-right-color: #fff ;
                }
                input.button.button--primary.form-prefixPostfix-button--postfix{
                    padding: 0 40px;
                    border: 1px solid #707070;
                    border-radius: 0px 5px 5px 0px !important;
                    // background: #0456A8;
                }
                }
            }
        }
    }
   
}

footer.footer .footer-bottom{
    background-color: #fff;
    border-color: rgba(0, 90, 122, 0.20);
    text-align: center;
    color: #323232;
    font-size: remCalc(14px);
    font-family: "Larsseit";
    .content.copyright{
        padding: 40px 0;
    }
    ul {
        
        li{
            color: #323232 !important;
            text-decoration: underline;
            display: inline;
            margin-right: 23px;
        }
    }
}
footer.footer .container{
    @media screen and (max-width:1222px) {
        display: none;
    }
}
.footer-container-mobile{
    display: none;
    @media screen and (max-width:1222px) {
        display: block;
    }
    div.content {
        display: none;
    }
    div.content.newsletter{
        display: block;
    }
    ul.accordion{
        border: none;
        
    }
    li.accordion-navigation {
        border: none;
        border-bottom: 1px solid rgba(0, 90, 122, 0.20);
        margin: 0;
        >a{
            background: #fff;
            padding-left: 36px;
            padding-right: 36px;
            color: #119EDD;
            font-size: remCalc(18px);
            font-family: "Larsseit";
            font-weight: bold;
            // padding: 0;
            &:hover{
                background: #fff;
            }
            i{
                float: right;
                svg{
                    fill:#119EDD;
                }
            }
        }
        > .content{
            padding-left:72px;
            
            >ul >li > a, >ul > li,address{
                font-size: remCalc(18px);
                font-family: "Larsseit";
                // font-weight: bold;
                color: #3e3f3f !important;
            }
          
          
        }
    }
    .social_newsletter.footer-info-col .content.newsletter form.form .form-fieldset .form-field .form-prefixPostfix input#nl_email,.social_newsletter.footer-info-col .content.newsletter form.form .form-fieldset .form-field .form-prefixPostfix input.button.button--primary.form-prefixPostfix-button--postfix{
        border-radius: 5px !important;
        border-right-color: #707070;
        margin-bottom: 15px;
    }
  
    .footer-info-col.social_newsletter{
        padding: 0 36px;
        .content.newsletter  h3.footer-info-heading{
            color:#119EDD ;
            font-size: remCalc(22px);
            font-family: "Larsseit";
           
        }
        .form-prefixPostfix.wrap{
            input{
                margin-bottom: 15px;
            }
        }
    }
}

#body.eleven-seventy .global-region.screen-width.above-footer.custom_footer{
    background-color: #EBF8FC;
    padding: 0 120px;
    .global-region.body-width{
        max-width: none;
    }
}