<nav class="navPages">

    {{!--
    <div class="navPages-quickSearch right searchbar">
        {{> components/common/quick-search}}
    </div>
    --}}
    <div class="navPages-list">
        <div class="nav-align{{#if theme_settings.mainNav-align '!==' 'left'}} center{{/if}}">
          <div class="custom-pages-nav">
            <ul>
              <li class="header_products">
                <span><a href="/products">Products</a></span>
                <svg class="downMenuIco"><use xlink:href="#icon-headerdown" /></svg>
                <div class="nav_products" >
                  {{#each products.featured}}
                  <div class="nav_product">
                    <a href="{{url}}">
                      <div class="img">
                        <img src="{{getImage image 1x=80w}}" alt="{{image.alt}}">
                      </div>
                      <p>{{name}}</p>
                    </a>
                    
                  </div>
                  {{/each}}
                </div>
              </li>

              <li class="learn hover-open" data-dropdown-hover="nav_learn">
                <span> <a href="/learn">learn</a> </span>
                <svg class="downMenuIco"><use xlink:href="#icon-headerdown" /></svg>
                <div class="nav_learn" data-dropdown-hover-content id="nav_learn" aria-hidden="true">
                  <ul class="footer-info-list">
                    {{#each pages}}
                      {{#if name '==' "Learn"}}
                        {{#each children}}
                          <li><a href="{{url}}">{{name}}</a></li>
                        {{/each}}
                      {{/if}}
                    {{/each}}
                  </ul>
                </div>
              </li>
              <li class="contact_us">
                <a href="/contact-us/">Contact us</a>
              </li>
              <li class="nav-search">
                <a aria-label="search" data-dropdown-custom="nav_search" name="search" class="" href="#"><i class="fa fa-user" aria-hidden="true"><svg title="search" alt="search" class=""><use xlink:href="#icon-search"></use></svg></i></a>
                <div class="navPages-quickSearch dropdown right searchbar nav-search-dropdown" id="nav_search" aria-hidden="true">
                  {{> components/common/quick-search}}
                </div>
                </li>
              </li>
            </ul>
            <div class="getUpdate" data-reveal-id="getUpdateModal">
              <span>Notify Me</span>
            </div>
          </div>
        </div>

    </div>
</nav>


