<nav class="navPages">

    {{!--
    <div class="navPages-quickSearch right searchbar">
        {{> components/common/quick-search}}
    </div>
    --}}
    <div class="navPages-list">
        <div class="nav-align{{#if theme_settings.mainNav-align '!==' 'left'}} center{{/if}}">
          <div class="custom-pages-nav">
            <ul>
              <li data-dropdown="id01" >
                <span>products</span>
                <svg class="downMenuIco"><use xlink:href="#icon-headerdown" /></svg>
              </li>
                
              <li>
                <span>learn</span>
                <svg class="downMenuIco"><use xlink:href="#icon-headerdown" /></svg>
              </li>
              <li>
                <span>contact us</span>
              </li>
            </ul>
            <div class="getUpdate">
              <span>get updates</span>
            </div>
      
          </div>

          <div class="nav_products">
            {{#each products.featured}}
            <div class="nav_product">
              <a href="{{url}}">
                <img src="" alt="">
                <p>{{name}}</p>
              </a>
              
            </div>
            {{/each}}

          </div>
        </div>

    </div>
</nav>


