{{#if social_media}}
    <!-- <h3 class="footer-info-heading">{{theme_settings.social_header}}</h3> -->
    <ul class="socialLinks socialLinks--alt">
        {{#each social_media}}
            <li class="socialLinks-item">
              <a class="icon icon--{{display_name}}" href="{{url}}" target="_blank" alt="{{display_name}}" title="{{display_name}}" rel="noopener">
                <svg><use xlink:href="#icon-{{display_name}}" /></svg>
              </a>
            </li>
        {{/each}}
    </ul>
{{/if}}
