<h3 class="footer-info-heading">{{lang 'newsletter.subscribe'}}&nbsp;<span class="smaller lighter lowercase">{{lang 'newsletter.subscribe_intro'}}</span></h3>


{{#if dataType '==' 'notify-me'}}
    <div class="klaviyo-forms">
        {{{getVar "klaviyoNotifyForms"}}}
    </div>
{{else}}
    {{{getVar "klaviyoNewsletterForm"}}}
{{/if}}

<br />

{{#if settings.show_newsletter_summary }}
  <div class="footer-newsletter-summary">{{settings.newsletter_summary}}<div class="clear"></div></div>
{{/if}}
