// =============================================================================
// HEADER (CSS)
//
// 1. Setting font size of header-logo to 0, since wrapper element may vary, and
//    inline-block whitespace messes with header height. Font-size is reset to
//    appropriate size on header-logo-text.
// 2. Needs left/right margin so it doesn't cover left/right nav bar toggles
// 3. Offset the letter-spacing on the last character by adding a right negative
//    margin. This centers the text logo properly.
// 4. When the word "cart" is added to the mobile header's cart link, add more
//    margin to compensate.
//
// -----------------------------------------------------------------------------

/* .header {
    background-color: $header-bg;
    border-bottom: container("border");
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 980px;
    margin: 0 auto !important;
    z-index: zIndex("low");
    padding: 20px 0;

    @include breakpoint("medium") {
        border-bottom: container("border");
        overflow: visible;
        position: relative;
    }

    &.is-open {
        height: 100%;

        @include breakpoint("medium") {
            height: auto;
        }
    }
}

.header-logo {
    font-size: 0;   // 1
    margin: 0 remCalc($header-toggle-width); // 2
    text-align: center;
    margin: 20px 0 !important;
     width: 33%;
            float: left;
            

    @include breakpoint("small") { // 4
        margin-left: remCalc($header-toggle-width * 1.5);
        margin-right: remCalc($header-toggle-width * 1.5);
    }

    @include breakpoint("medium") {
        margin: (spacing("double") + spacing("base")) auto (spacing("double") + spacing("single"));
        padding: 0;

        .header.fixed & {
            background-color: color("greys", "lightest");
            margin: 0;
            padding: spacing("quarter") 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    > a {
        @include clearfix;
        color: $storeName-color;
        display: inline-block;
        padding: $header-logo-paddingVertical 0;
        position: relative;
        text-decoration: none;
        width: 100%;
        z-index: zIndex("low");

        // scss-lint:disable NestingDepth
        @include breakpoint("medium") {
            background: none;
            border-bottom: 0;
            display: inline;
            padding: 0;
        }

        &:hover {
            color: color("link", "hover");
        }

        &:active {
            color: color("link", "active");
        }
    }
}

.header-logo--left {
    text-align: left;

    @include breakpoint("medium") {
        margin-left: remCalc(40px);
    }
}

.header-logo--right {
    text-align: right;

    @include breakpoint("medium") {
        margin-right: remCalc(40px);
    }
}

.header-logo-text {
    display: block;
    font-family: $fontFamily-hero;
    font-size: fontSize("small");   // 1
    font-weight: stencilFontWeight("logo-font");
    letter-spacing: remCalc(5px);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: remCalc(3px) 0;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;

    @include breakpoint("small") {
        font-size: fontSize("large");
        letter-spacing: remCalc(9px);
        padding-bottom: 0;
        padding-top: 0;
    }

    @include breakpoint("medium") {
        display: inline;
        font-size: fontSize("largest");
        margin-left: 0;
        margin-right: -(remCalc(9px)); // 3
        max-width: none;
        overflow: auto;
        white-space: normal;

        .header.fixed & {
            font-size: fontSize("larger");
        }
    }
}

.header-logo-image {
    max-height: remCalc($header-height) - $header-logo-marginVertical * 2;

    @include breakpoint("medium") {
        max-height: none;
    }
}
 */




//
// Mobile Menu Toggle
//
// 1. Animate lines from 'x' to hamburger
// -----------------------------------------------------------------------------

.mobileMenu-toggle {
    @include square($header-toggle-width);
    display: inline-block;
    font-size: 0;
    left: 0;
    overflow: hidden;
    padding: 0 remCalc(18);
    position: absolute;
    z-index: zIndex("high");

    @include breakpoint("medium") {
        display: none;
    }

    .mobileMenu-toggleIcon,
    .mobileMenu-toggleIcon::before,
    .mobileMenu-toggleIcon::after {
        background: $header-font-color;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        transform: rotate(0deg);
        transition: transform 100ms ease-in, top 100ms ease-in 150ms, bottom 100ms ease-in 150ms; // 1
        width: remCalc(20);
    }

    .mobileMenu-toggleIcon {
        top: remCalc(27);
        transition: background-color 10ms ease-in 100ms;
    }

    .mobileMenu-toggleIcon::before {
        top: -0.5rem;
    }

    .mobileMenu-toggleIcon::after {
        bottom: -0.5rem;
    }

    &.is-open .mobileMenu-toggleIcon {
        background-color: transparent;
        transition-delay: 100ms;

        // scss-lint:disable NestingDepth
        &::before,
        &::after {
            background-color: $header-font-color;
            bottom: auto;
            top: auto;
            transition: transform 100ms ease-in 150ms, top 100ms ease-in, bottom 100ms ease-in; // Animate lines from hamburger to 'x'
        }

        &::before {
            top: 0;
            transform: rotate(45deg);
        }

        &::after {
            bottom: 0;
            transform: rotate(-45deg);
        }

    }
}

//the custom 
.top-menu.store-credit-hidden{
    display: block;
    @include breakpoint("medium") {
        display: none;
    }
}
body.main.eleven-seventy .header-container.in-container.full-width{
    max-width: none !important;
}
body.main.home.eleven-seventy{
    padding-top: 100px !important;
    .mobileMenu-toggle{
        right: 0;
        left: auto;
        padding: 0;
        margin-right: 36px;
        top: 35px;
    }
}
.header-container.sticky-header .navPages-container.main-nav {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
#body .main-nav-container.with-categories div#menu {
    position: fixed;
    top: 0;
}
.header-container.sticky-header .top-menu{
    z-index: 999 !important;
    height: 100px;
    background: #fff;
    border:none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    .mobileMenu-toggle .mobileMenu-toggleIcon, .mobileMenu-toggle .mobileMenu-toggleIcon::before, .mobileMenu-toggle .mobileMenu-toggleIcon::after{
        background: #0056A8;
    }
    .mobileMenu-toggle.is-open .mobileMenu-toggleIcon{
        background-color: transparent;
    }
}


header.header{
    z-index: 100000000 !important;
}

.header .header-logo.header-logo--left{
    width: 180px !important;
    height: 160px;
    position: fixed;
    background: #fff;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 120px;
    top: 0;
    @media only screen and (max-width:1222px) {
        width: 110px !important;
        height: 127px !important;
        left: 36px;
        padding:8px 0;
        // top: 0;
    }

    .header-logo-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 143px;
            height: 92px;      
            @media only screen and (max-width:1222px) {
                width: 110px;
                height: 110px;
                top: -5px;
            }     
        }
    }
}

.header> .navPages-container.inside-header.left-logo.visible{
    display: none;
}
.main-nav-container {
    border: none !important;
    background-color: #fff !important;
    .navPages-container.main-nav.desktop#menu{
        margin: 0;
        height: 100px;
        background-color: #fff;
        max-width: none;
        .navPages{
            max-width: none;
            padding: 0 120px;
        }
        .nav-align{
            text-align: right; 
        }
        .custom-pages-nav{
            font-size: remCalc(18px);
            font-family: "Larsseit";
            // text-align: right;
            display: inline-flex;
            justify-content: flex-end;
            align-items: center;
            height: 100px;
            ul {
                display: inline-flex;
                line-height: 98px;
                text-transform: uppercase;
                color: #0056A8;
                li{
                    // float: left;
                    margin-right: 40px;
                    font-family: "Larsseit";
                    cursor: pointer;
                    
                    .downMenuIco{
                        fill: #0056A8;
                        width: 13px;
                        height: 13px;
                        // margin-left: remCalc(11px);
                    }
                }
                li.active{
                    border-bottom: 2px saddlebrown solid;
                }
            }
            .getUpdate{
                text-transform: uppercase;
                text-align: center;
                padding: 15px 42px;
                background-color: #0056A8;
                font-size: 17px;
                color: #fff;
                font-family: "Roboto Condensed";
                font-weight: bold;
                border-radius: 3px;
                
            }
            
        }
    }
}

.nav_products{
    display: inline-flex;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 0 10px;
    border-radius:  0 0 5px 5px;
    max-width: 996px;
    display: none;
    .nav_product{
        background-color: #fff;
        padding: 0 10px;
        a{
            text-decoration: none;
           
            .img{
                width: 224px;
                height: 224px;
                text-align: center;
                img{
                    max-height: 224px;
                    max-width: 224px;
                }
            }
            p{
                width: 224px;
                font-size: remCalc(18px);
                text-align: left;
                text-decoration: none;
                color: #0056A8;
            }
           
        }
        
       
    }
}
.nav_products,.nav_learn{
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.16);
}
.nav_learn{
    font-size: 18px;
    text-align: left;
    background-color: #fff;
    position: absolute; 
    left: -99999px; 
    top: 99px;
    border-radius: 0 0 15px 15px;
    padding: 5px 10px

}
[aria-expanded = "true"]{
    border-bottom: 2px saddlebrown solid;
}
@media (max-width:1222px) {
    div#menu.mobile-menu .page-list-products{
        .navPages-action.has-subMenu{
            display: inline-block;
        }
            .down-arrow{
                position: relative;
            }
    
    }
    #body.has-activeNavPages:not(.search-only) div#menu.mobile-menu.navPages-container{
        padding-top: 77px !important;
        top: 99px !important;
        .navPages-item{
            border-top: 1px solid rgba(0, 90, 122, 0.20);
            &:last-child{
                border-bottom: 1px solid rgba(0, 90, 122, 0.20);
            }
            
        }
    }
    div#menu.mobile-menu .active{
        position: absolute;
        top: 0;
        width: 100%;
        .navPage-subMenu{
            position: relative;
            z-index: 100;
            min-height: 500px;
            top: 100px;
            padding-top: 30px !important;
            
        }
    }
    div#menu .custom-pages-nav .navPages-item{
        .navPages-action.has-subMenu,.navPages-action{
            padding-top: 25px !important;
            padding-bottom: 25px !important;
            line-height: normal;
            
        }
        span.down-arrow{
            top:20px;
            transform: rotate(-90deg);
        }

    }
    div#menu .navPages-item.active{
        .navPages-action.has-subMenu.active{
            border-bottom: 1px solid rgba(0, 90, 122, 0.2);
            margin: 0 -15px;
            text-align: center;
        }
        span.down-arrow{
            position: absolute;
            top: 15px;
            right: auto;
        }
        
    }
}


div#menu.mobile-menu .navPage-subMenu{
  
    .products{
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items:center;
        .nav_product{
            width: 154px;
            .img{
                text-align: center;
                width: 154px;
                height: 154px;
                margin: 0;
                img{
                    max-width: 154px;
                    max-height: 154px;
                }
            }
        }
    }
   
}


#getUpdateModal{
    opacity: 1;
    visibility: visible;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    .modal-header .modal-header-title{
        text-transform: uppercase;
        font-weight: bold;
        font-size: remCalc(24px);
    }
    .modal-body{
        .newsletter{
            h3.footer-info-heading{
                color: #119EDD;
                font-size: remCalc(22px);
                font-family: "Larsseit";
                margin-bottom: 20px;
                span{
                    display: block;
                    text-transform: lowercase;
                    font-size: remCalc(22px);
                    color: #0056A8;
                }
            }
        }
    }
}

