<!DOCTYPE html>
<html>
<head>
    <title>{{ head.title }}</title>
    {{{ head.meta_tags }}}

    <meta name="description" content="{{ head.title }}">
    <meta name="keywords" content="{{ head.title }}">
    {{{ head.config }}}

    <link href="{{ head.favicon }}" rel="shortcut icon">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {{{stylesheet '/assets/css/theme.css'}}}
    {{{stylesheet '/assets/css/nextgen.css'}}}
    {{{stylesheet '/assets/css/alexa.css'}}}

    <link href="{{ head.favicon }}" rel="shortcut icon">
    {{#block "head"}}{{/block}}
</head>
<body>
    {{#block "page"}}{{/block}}
    
    <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
        <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>

        <script>
            // Exported in app.js
            window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
        </script>
</body>
</html>
